<div class="divMiddle texto">
<P LANG="es-AR"  ALIGN=CENTER STYLE="line-height: 100%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B><U>REPATRIACIÓN DE
CAPITALES DE RESIDENTES EN ARGENTINA</U></B></FONT></FONT></P>
<P LANG="es-AR"  ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>Exposición y
ponencia en el Iº Congreso Argentino de Filosofía del Derecho,
Política y Bioética, organizado por la Universidad FASTA, Mar del
Plata. Septiembre de 2002.</B></U></FONT></FONT></P>
<P LANG="es-AR"  ALIGN=CENTER STYLE="line-height: 100%">&nbsp;</P>
<P LANG="es-AR"  ALIGN=RIGHT STYLE="line-height: 100%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>Dr. Horacio F.
Caruso</B></FONT></FONT></P>
<P LANG="es-AR"  ALIGN=RIGHT STYLE="line-height: 100%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>Septiembre  de 2002</B></FONT></FONT></P>
<H4 LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Introducción</FONT></FONT></H4>
<P LANG="es-AR"  ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Sabido es  por
padecimiento colectivo, que la crisis moral y económica que vive
nuestra República, no tiene antecedentes. Ningún argentino hubiera
pensado hace pocos años, que en las puertas del siglo XXI, íbamos a
ingresar en un proceso de “africanización” tan violento y
perverso. </FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Baste mirar – estamos
en Agosto de 2002 - las imágenes que se muestran por los medios de
comunicación, con la pobreza extrema que abarca las distintas zonas
del territorio, respaldadas por las frías estadísticas de los
organismos oficiales, los cuales arrojaron en éstos días un
guarismo aterrador como es que  el 53% de la población es pobre, con
picos en Formosa y Chaco, de cerca del 76%.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Ni que hablar de los
porcentajes de indigencia, sobre todo en los menores de hasta 14
años.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es decir, estamos
“liquidando” generaciones enteras  para el país, con su
correlato de consecuencias futuras habida cuenta que el proceso
rotativo que toda sociedad normal vive  a partir del niño, joven,
adulto, adulto mayor, retirado, con  su recambio intelectual y con su
fuerza del trabajo, profesionales, dirigentes etc. ha quedado
paralizado. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La base que está
representada inicialmente por los niños de hasta 3 años, adolece
grandes fallas intelectuales y de desarrollo mental, a partir de los
graves cuadros de desnutrición que padecen millones de ellos, sin
que nadie afronte el compromiso que como obligación tiene el Estado
ausente.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
 <FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Lo vemos pasar, nos
conmovemos, tal vez aportamos solidariamente algo material para
acallar nuestras conciencias, pero lo cierto es que no se visualiza
en el cortísimo plazo, tal la perentoriedad y gravedad del tema,
algún plan que vaya reconvirtiendo la situación, al margen de un
asistencialismo precario y fortuito que se implementa desde la
administración de turno.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es en este contexto, de
emergencia nacional social y económica, con un proceso ya iniciado
de desintegración como Nación, que urgen medidas acordes a las
circunstancias. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Resulta inexplicable
que el poder político no incluya en el Estado de Emergencia
Nacional, afectar partidas a lo urgente, que permita negociar con los
organismos mundiales desde tal posición, la ayuda humanitaria que se
necesita más allá de lo que significa para un país que ha sido
orgulloso, tal vez en exceso, de su potencialidad como productor de
alimentos en función de una superficie y extensión  de tierras
feraces, como pocas en el mundo. Pero así estamos, con casi 37
millones de opiniones “especializadas” que opinan desde los
efectos y no desde las causas.      </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Resulta difícil
establecer prioridades, ya que nuestra crisis, nace desde lo moral y
se extiende a lo político y económico con su derrame en lo social,
provocando una parálisis y anomia  de tal magnitud, que todos nos
preguntamos por donde debemos empezar y que no es por cierto, “que
se vayan todos”, afirmación ésta que muestra la desesperación de
la sociedad, pero que no asegura “que no vuelvan”.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Sería muy simple
afirmar que debemos comenzar por el principio, pero a poco de
profundizar nos damos cuenta que tal principio es nada más y nada
menos que refundar la República, con lo cual se impone un orden de
prioridades que involucre decisiones que apunten primero a la
subsistencia como personas humanas y luego, dar cabida a la
educación, salud, seguridad, etc. como sustento de un crecimiento
mínimo y plausible  que asegure nuestra continuidad como Nación.
Por supuesto, luego,  llegar en horizonte más lejano al “desarrollo”
tan buscado, teniendo claro que éste concepto no es sinónimo de  
“crecimiento”, cuyo alcance es posterior y luego de recorrer un
camino que nosotros ni siquiera hemos comenzado. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>No en vano, los
términos indigencia e indignidad tienen una misma raíz. Se trata
entonces de devolver la dignidad perdida al pueblo argentino.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Esta ponencia pretende
esbozar una herramienta para comenzar la tarea, sin perjuicio de que
por razones de espacio y oportunidad, debería la misma ser ampliada
en oportunidad  de llevarla a la práctica, a cuyos efectos
disponemos de las ampliaciones necesarias para lograr el objetivo.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>No obstante ser el tema
que nos ocupa, uno de los 14 puntos pactados entre los gobernadores y
el presidente en Mayo ppdo., ampliamente difundidos por la prensa, 
en realidad se cumplieron sólo dos de ellos, a saber la derogación
de la ley de Subversión Económica y la modificación de la ley de
Quiebras; del resto de los puntos nadie habló más. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Sería útil conocer
quien sugirió la inclusión en la citada lista, el punto de la
repatriación de capitales, ya que como la misma fue “autorizada”
por el FMI, podríamos interpretar que lo que proponemos en este
trabajo, tendría posibilidades de concreción, excepto que dicho
tema haya sido incluido para consumo del pueblo, sin determinación
política de llevarlo a cabo.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
 <FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La enunciación es muy
simple: la deuda externa argentina ronda los 145.000 millones de
dólares y simultáneamente se dice que los depósitos de los
argentinos en el exterior, alcanzaría  la misma cifra. No hay
confirmación sobre la veracidad dicho monto. Pero puede resultar
bastante creíble si partimos de la base que el mecanismo de fuga ha
sido recurrentemente implementada desde hace 20 años, a partir de la
explosión de la “tablita” de Martínez de Hoz y que
ininterrumpidamente continuó hasta el periodo Febrero-Noviembre
2001, donde por cifras oficiales se determinó la salida de 22.000
millones de dólares del país, sin perjuicio de legislación
permisiva que habilitó tales procedimientos en los distintos
gobiernos pasados, como gusta decir a quienes pretenden justificar lo
injustificable.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es cierto que en los
últimos 20 años hubo periodos en que era lícito enviar fondos al
exterior, tal la década de los 90,  ello visto desde el ángulo del
derecho positivo, pero  no significa que fuera legítimo desde la
óptica del derecho natural y su correlato de moral que conlleva.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Sin profundizar
demasiado, podemos advertir que en el derecho positivo <B>licitud</B>
y  <B>legitimidad</B> pueden ser sinónimas, pero tan pronto
ingresamos al terreno del derecho natural, basamento primordial de
todo ordenamiento jurídico, donde entra a jugar la moral,  ínsita
en el mismo derecho, no ya como parte sino como el todo - según
nuestra línea de pensamiento - notamos una importancia radical entre
ambos términos. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Por otra parte, fácil
resulta comprender que si el mecanismo perverso de fuga,  fue
implementado a costa de las reservas internacionales compensadas con
permanente endeudamiento, la simetría en los montos resulta de suyo
hasta lógico, a la par que rescata el concepto sostenido aquí, en
punto a que <U><B>las reservas también son patrimonio y bien común,
y por tanto sujeta a principios morales de conducta social</B></U>.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Con relación a la fuga
de capitales del año 2001 referida, permítasenos una  disgresión:
¿cómo fue posible que un argentino pudo ir a un banco con <B>pesos</B>
1000 y pedir su colocación a plazo fijo en <B>dólares,</B> lo cual
se asentó en los libros de la institución financiera elegida, como
pasivo en moneda extranjera, pero como un asiento contable, ya que
físicamente los dólares no estaban disponibles? </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
 <FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es decir el banco
vendía dólares contables no físicos, contra el ingreso de los
pesos, lo que permitía a su vez prestar en dólares contables no
físicos, también transformados en pesos.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Lógicamente si alguien
deseaba retirar sus dólares, el banco sacaba de la “caja” de
depósitos de los clientes que <U><B>sí</B></U> habían puesto
dólares físicos y pagaba en consecuencia. Lo que no se calculó,
como siempre, que ante una corrida bancaria, dicha caja no alcanzaría
 para todos como sucedió y  entonces sobreviene  viene el pánico
colectivo. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Las instituciones
“fieles” a sus clientes mayores de dls. 30.000,  les “sugiere”
previa invitación a pasar a una oficina más reservada,  que pueden 
ubicarles los fondos en el exterior,</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El agravante de todo
esto, es  que sin perjuicio de la “garantía” ofrecida por el
sistema, los encajes previstos para eventuales emergencias en moneda
extranjera, también eran virtuales o contables.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Pero entonces ¿qué
quedó?, pues los depósitos menores de 30.000 dólares, de los
cuales habría que diferenciar los que entregaron pesos de los que
entregaron dólares, ( nótese que  los mayores de 30.000 dólares
que entregaron pesos en origen, según lo dicho se fugaron), y de
ellos   los depósitos en pesos, todo acorralado más  los préstamos
en pesos y en dólares, éstos últimos pesificados, otorgados a
empresas y personas que difícilmente puedan honrarlos,  como
producto de la situación desencadenante. Es así entonces que  salen
las autoridades oficiales y los representantes de la “banca” (
éste último término es una forma de decir),  afirmando que “la
plata no está”, aseveración crudamente verídica  pero  no por
ello justificada. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Este mecanismo con
algunas variantes, se viene realizando con la complacencia de la
banca internacional, desde hace más de 20 años, sin que se logre
con sentido nacional advertir que <U><B>lo que se llevan al exterior
no es propiedad privada</B></U>, sino parte de la propiedad común
que debe traducirse en el bien común; es parte del Producto Bruto
Interno y Renta Nacional, a más de las reservas,  que pertenece al
conjunto de la sociedad por su finalidad, <B>con lo cual adelanto
nuestro argumento para rebatir a quienes luego de esta ponencia
dirán, que estamos afectando la propiedad privada al referirnos a la
repatriación de los depósitos de argentinos en el exterior.</B></FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Abundando en este
sentido, debemos recordar brevemente los cambios producidos en
nuestro Código Civil respecto de la propiedad privada - y en línea
con la doctrina social de la Iglesia -  advirtiendo que de la
posición de Vélez Sarsfield en el viejo art. 2513, donde otorgaba
al propietario “el derecho de disponer, servirse, usar y gozar de
la cosa, a su entera voluntad hasta poder desnaturalizarla,
degradarla o destruirla”  y por tanto, según el art. 2514 “dichas
facultades no podían ser restringidas, porque privaran a un tercero
de una ventaja, comodidad o placer”,  hemos ingresado por la
reforma de la ley 17711, a que dichas facultades deben ser utilizadas
“conforme a un ejercicio regular”, según el nuevo art. 2513.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Dicho ejercicio 
significa la implementación del uso  de la propiedad privada  en
función social y la pretensión correlativamente de soslayar el
ejercicio abusivo de los derechos, también contemplado en nuestro
Código, art. 1071, que consigna nada menos que no debe excederse 
los límites de la moral y las buenas costumbres. Lo lícito no
siempre debe ser legítimo según vimos más arriba.  </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Podríamos preguntarnos
¿cómo explota esta cuestión? La respuesta será que se interrumpió
el mecanismo de endeudamiento para reemplazar reservas. Las
instituciones internacionales de crédito dijeron basta, mas allá de
su corresponsabilidad en el tema por prestarle a quienes no pueden
pagar sus deudas, por incentivar la salida de los fondos del país, <U><B>y
por fabricar depósitos y préstamos contables en moneda fuerte,
violando en forma indirecta la ley de convertibilidad al no tener el
respaldo físico según dicho ordenamiento, de la moneda bancaria
creada contablemente. </B></U></FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Pero, ¿ y con la
garantía de los depósitos que pasó?  Pasó que la inmoralidad de
los funcionarios de turno, llegó a su punto más alto. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En efecto, la empresa
fiduciaria creada por el BCRA y los bancos más grandes nacionales y
extranjeros, denominada  SEDESA, era una sociedad anónima que tenía
como objeto social responder por las eventuales corridas bancarias,
siendo que para cuyo fin se había fijado por ley un tope de garantía
para responder,  hasta  el máximo de dólares 6.000 millones, y que
a la sazón dicho monto surgía de determinados porcentajes que las
instituciones debían “retenerse” - bajo el control del Banco
Central-  sobre los saldos diarios de sus depósitos, </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Pero lo imperdonable
era que  “casualmente” existía una cláusula en su contrato
societario -  impuesta por las entidades internacionales - que
obligaba al BCRA a devolver eventualmente los fondos retenidos en
garantía, para el caso de que el país entrara en “default”. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Vaya entonces garantía,
es decir, “garantizamos” mientras todo se encuentre bien,
mientras no haya que “usar”  la garantía.  Fiel a sus
compromisos la institución financiera madre argentina devolvió a
los bancos extranjeros en Enero de 2002, en pleno &quot;corralito&quot;,
la suma de dólares 800 millones que a la sazón fueron extraídos de
las reservas, porque obviamente la sociedad garante ya no tenía los
fondos, que debía tener según mandaba la ley, montos que fueron
retirados antes de la debacle financiera inducida por el mismo
sistema bajo la complicidad de todos los protagonistas. Una gran
estafa nacional.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es natural entonces
que,  frente a este despojo, donde se arrasaron con todas las leyes
que fueron creadas justamente para evitar lo que sucedió, no sea
posible sostener el principio de la propiedad privada de los
depósitos de argentinos que se encuentran en el exterior. Es una
cuestión eminentemente moral y dadas las circunstancias debe ser
reparada.</FONT></FONT></P>

<H2 LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U>Cómo se hace</U></FONT></FONT></H2>

<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Los depósitos están
radicados en los países anglosajones, en paraísos fiscales
controlados por países anglosajones en su mayoría, o bien en países
europeos como Suiza.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La creciente
regionalización de los Estados, caso de la Comunidad Europea, obliga
a homogeneizar los tributos para que no incidan de un país a otro,
además de controlar la salida de divisas  para mantener el
equilibrio financiero monetario.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Ahora bien, las
naciones habitualmente eligen como sustento de la tributación:</FONT></FONT></P>
<OL>
	<LI><P LANG="es-AR"  ALIGN=JUSTIFY >
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>la nacionalidad.
	(gravar con impuestos según la partida de nacimiento. Ej.
	EE.UU.-Europa)</FONT></FONT></P>
	<LI><P LANG="es-AR"  ALIGN=JUSTIFY >
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>la residencia. ( lugar
	transitorio; en general va con la mercadería)</FONT></FONT></P>
	<LI><P LANG="es-AR"  ALIGN=JUSTIFY >
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>el domicilio real. (
	asiento principal de los negocios)</FONT></FONT></P>
	<LI><P LANG="es-AR"  ALIGN=JUSTIFY >
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>el lugar de ubicación
	de los bienes.</FONT></FONT></P>
	<LI><P LANG="es-AR"  ALIGN=JUSTIFY >
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>donde existe el
	interés económico.</FONT></FONT></P>
</OL>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Estos dos últimos
puntos, conforman el <B>Principio de la Fuente</B>, es decir donde se
obtiene la renta.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Paralelamente, se
impuso a nivel mundial sobre todo luego de la segunda guerra, el
criterio de la <B>Renta Mundial</B>, que consiste en convenios entre
países para evitar la doble imposición, y que se regula por el
Derecho Internacional Privado, para evitar la dicotomía de los
sistemas configurados sobre la base de la nacionalidad y aquellos 
que se rigen por el domicilio, por ejemplo como es el caso nuestro.</FONT></FONT></P>
<P LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Va
de suyo que dichos convenios en general son para los impuestos al
consumo o patrimoniales, pero salvo excepciones no incluye la fuga de
capitales.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Entonces, la primera
tarea sería la de fijar el monto real de la deuda externa, tomando
como base la investigación llevada adelante por el patriota Olmos y
sus conclusiones periciales y judiciales, reproducidas en la 
sentencia del juzgado del Dr. Ballesteros.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Luego encarar  una
negociación madura, seria y responsable con los organismos
internacionales y privados, donde con dignidad, no pidiendo más
préstamos, que por suerte fueron suspendidos, y consensuando un
monto reconocible, firmar un convenio para obtener la información
necesaria de la verdadera magnitud de los fondos radicados en el
exterior, en los últimos 20 años, por montos que superen por
ejemplo los Dls. 100.000.( información que podrá ser con nombres y
apellidos o bien sólo los montos, cuestión a ver)</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Esta actitud,
reflejaría frente a los acreedores una voluntad seria de abordar el
problema, y desvirtuaría los argumentos interesados de quienes
sostienen que no es posible que estemos “mendigando” préstamos
cuando tenemos semejante cantidad de fondos de nuestros ciudadanos,
en el exterior, sin tributar impuestos de ninguna naturaleza,
comprometiendo las generaciones futuras de compatriotas. </FONT></FONT>
</P>

<H4 LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Posibles
discrepancias</FONT></FONT></H4>

<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Por supuesto, no escapa
a nuestra consideración que poco le conviene a los grandes países
que se benefician con nuestros depósitos,  este esquema, sobre todo
porque ellos también han crecido en sus economías gracias a la 
fenomenal  transferencia de recursos que hemos llevado a cabo, sobre
todo los países del sur, pero también  son realistas y saben que la
única forma de cobrar de un deudor quebrado es ubicar patrimonios
ocultos y ponerlos al servicio de la quiebra. No resulta difícil
reconocer que nuestro país está en estado de quiebra, entendida en
todos sus términos. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Si deseamos respaldar
dicho estado con la ley 24522 de Concursos y Quiebras vigente,
veríamos que el artículo 120  habilita a cualquier acreedor o
interesado a investigar sobre posibles patrimonios ocultos, y en caso
de localización otorga un premio entre la 3ra parte y un décimo de
lo recuperado, con límite en el monto del crédito. Entonces, ¡quién
más autorizados que nosotros mismos!  Demás está decir – según
nuestra deuda - que 1/3 sería aproximadamente  igual a 48.300
millones y 1/10 igual a 14.500 millones, ambos en moneda fuerte.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es obvio que a los
argentinos que poseen fondos en el exterior, les resultará más
conveniente, en el caso de no tener opción que se aplique el método
de la tributación impositiva antes que volcar esa porción de
capital - como recupero - hacia nuestro país.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Un lector advertido, lo
primero que preguntará es ¿quién es el juez de ésta  quiebra?. La
respuesta debería ser la Justicia Argentina, como poder de Estado, 
o en su defecto el pueblo, como poder soberano,  que es quien deberá
pagar finalmente.  Y ¿el síndico?, debería ser nuestro Congreso
Nacional, también como poder estatal. (creo que ahí apuntó sabia
aunque ilusoriamente, el juez Ballesteros).</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>A tenor de lo que  se
hizo hasta ahora en el ámbito parlamentario – nada - luego de la
derivación de la causa Olmos, creemos que será más fácil avanzar
sobre el acuerdo con los acreedores, tal como aquí se expone.</FONT></FONT></P>
<P align="justify" LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Se
nos dirá que lograr este objetivo es imposible, ya que visto desde
los acreedores,  un convenio de tal esencia sería perjudicial para
su credibilidad y seguridad jurídica frente al resto de sus
depositantes internacionales, lo cual es cierto, pero si han optado
por no prestar más, deben adoptar también la decisión de
permitirnos afrontar nuestras obligaciones desde la realidad de un
vaciamiento general del país, producido con la complicidad, sino al
menos con la  complacencia de ellos mismos. Y con el asesoramiento
obligado de los organismos internacionales de crédito.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>No obstante es dable
aclarar que lo que proponemos <B>no es confiscar los fondos</B>, sino
que nos brinden la información requerida, para que desde nuestras
regulaciones internas podamos incentivar la repatriación con
estímulos adecuados, sopena de tributar en los países receptores el
impuesto que estimemos oportuno sobre dichos capitales renuentes a
volver o a ser declarados.  Es decir poner en vigencia para la fuga
de capitales el principio de la Renta Mundial y la compatibilización
entre los sistemas de nacionalidad y domicilio.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>No escapa a nuestro
análisis la responsabilidad  dentro del ámbito de lo penal
tributario, que  le cabe concurrentemente a los funcionarios que
permitieron o facilitaron la salida de fondos, como las entidades
financieras que enviaron también sus propios capitales, sin tributar
impuestos y  sin descartar además la incursión dentro del código
penal propiamente dicho.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Entrando en hipótesis
numérica, si tomamos como cierto que existen en el exterior
depósitos por 145.000 millones, y no deduciendo por ignorarse
cuántos son menores de 100.000, tomando como tasa promedio de
interés internacional, en los últimos 20 años, un 6% anual,
tendríamos que la suma de los intereses llegaría a un total de dls.
8.700 millones anuales, es decir casi el total del servicio de la
deuda externa actual del país.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>De las resultas del
convenio con los países centrales, y tomando como base que el
impuesto a las ganancias en nuestro país es del 33%, dejando de lado
las consideraciones que ameritarían una tasa superior - habida
cuenta que son capitales fugados que no se vuelcan a la producción
del país - obtendríamos un tributo del orden de los 2.871 millones
de dólares anuales.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Una vez establecido el
monto de la deuda externa de común acuerdo, sería posible incluir
en el convenio que dichos fondos surgidos de la tributación, los
cuales pasarían a pertenecer al Estado Argentino, sean aplicados al
servicio de la deuda ya sea por vía de la compensación o bien por
vía del envío y reenvío de nuestra parte - nos inclinamos por lo
primero -  aplicando una porción a capital y una parte a interés,
el cual  debería ser negociado según tasas para  países más
serios, en vista del paso que estamos proponiendo y a  un largo
plazo.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Nos animamos a afirmar
que la potencialidad recuperadora de nuestro país, en el corto
plazo, haría posible que por tiempo extenso no debamos  pedir más
crédito internacional, si sabemos administrar nuestros propios
recursos. Esto sería la llave de la independencia económica y la
soberanía política tantas veces declamada. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Podremos preguntarnos
también si les conviene a los acreedores que avancemos en tal
dirección, a lo cual podemos contestar con la convicción de quienes
tienen la fortaleza de los débiles, habida cuenta de la magnitud de
nuestra deuda, la cual no resulta  pagable en el estado actual.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>También podrá
afirmarse que sería un ejemplo no conveniente para los países de la
región, que están en la misma situación de endeudamiento que
nosotros, a lo cual debemos responder con pesar, que los ciudadanos
argentinos fueron los únicos que remesaron semejante magnitud de
fondos al exterior en esta zona, dando acabado ejemplo de lesividad a
la Patria, no comparable con otro país y cuyos motivos serían
objeto de otro estudio.</FONT></FONT></P>

<H5 LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U>Opciones
posibles   </U></FONT></FONT>
</H5>

<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En el frente interno,
deberíamos impulsar la repatriación dando la opción a nuestros
compatriotas de tributar el impuesto en el exterior como se sugirió,
o bien aplicarlos en nuestras tierras a fines específicos como sería
la apertura de las fábricas chicas y medianas, la revitalización de
la pequeña y mediana empresa, del pequeño y mediano productor etc.
instrumentando un plan de regionalización a través del Banco
Nación, única institución que llega a todos los rincones del país.
A tal efecto nos remitimos a nuestro capítulo sobre la Reserva
Federal de EE.UU. y su organización en directorios regionales,
inserto en nuestra tesis sobre Habeas Data.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Como contrapartida los
que opten por traer sus fondos, en lugar de tributar impuestos en el
exterior, podrían ser tratados diferencialmente por un término a
fijar, que los estimule por comparación a volcarse al país, 
liberándolos de cualquier investigación posterior, no obstante
reconocer que se estaría premiando nuevamente a los que tanto
perjuicio nos causaron.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Aquellos que optaran
por seguir tributando en el exterior, estarían expuestos a una
investigación tributaria y penal de los últimos 20 años, dado el
estado de emergencia y la situación de vulneración de derechos
humanos de la sociedad toda, que lo haría al delito imprescriptible,
 para determinar el origen de sus fondos y su eventual penalización.</FONT></FONT></P>
<P align="justify" LANG="es-AR" > <FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Una
actitud de tal naturaleza, otorgaría al pueblo argentino un shock de
esperanza tal, que sería un buen principio  para comenzar con otra
tarea de muy difícil realización, como es volver a “culturizar”
a los ciudadanos para el trabajo, a recuperar los ingresos y el
consumo, a estabilizar la economía sin la carga de la deuda externa
y con la consideración internacional de haber abordado el problema
con valentía y altura moral.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>No sería posible
realizar este paso, sin una profunda revisión de nuestro sistema
impositivo, para dotarlo de una mayor simpleza y equidad, con
impuestos progresivos y no regresivos, además de un sistema
financiero nuevo, cuyo esbozo hemos realizado en otro trabajo.</FONT></FONT></P>
<P align="justify" LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En
otro orden de ideas, nuestro plexo normativo nacional supera las
180.000 unidades, tomando leyes nacionales, provinciales, decretos,
ordenanzas, disposiciones, circulares etc. todas vigentes. Es decir,
este panorama daría por tierra la opinión de quienes sostienen que
hacen falta leyes más duras o  más modernas, en virtud  que en
nuestra opinión lo que se necesita es que se respeten las leyes que
están, con los poderes de la República creíbles y verdaderamente
independientes.</FONT></FONT></P>
<H3 LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>No sería del todo vano
proponer que nuestros Congresos, nacionales y provinciales, se
abocaran como tarea fija, a realizar un digesto de la legislación
para eliminar los vericuetos jurídicos que forman los repliegues que
impiden la administración de justicia. Es decir que no se sancionen
más leyes por el momento, sólo las estrictamente necesarias. Claro,
en este contexto, tal vez  sobraría una de las dos cámaras
legislativas que nuestro sistema sostiene. </FONT></FONT>
</H3>

<H6 LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U>Conclusión</U></FONT></FONT></H6>

<P align="justify" LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Finalmente,
más allá de lo difícil que pueda parecer  recorrer el camino aquí
sugerido, la clave del éxito estaría en imputar los fondos a lo que
se previó, es decir a la reactivación, a crecer. La
reestructuración del mercado financiero y la devolución de fondos a
los ahorristas “sorprendidos en la buena fe”, debe ser reparado
por las mismas instituciones financieras, una vez desaparecido el
temor de la deuda externa argentina</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La capacidad
recuperadora de nuestro país, lo cual se demuestra aún hoy con el
saldo de intercambio comercial, nos impulsa a sostener que dividiendo
las soluciones en reactivación y deuda externa con recursos
independientes, en el corto plazo podemos salir de esta situación
tan agobiante, sobre todo para los compatriotas de menores recursos e
indigentes.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Para ello sólo es
necesaria la voluntad política de llevarlo a cabo, acompañado de la
finalización de la miopía dirigencial, que no atina a tomar
decisiones de fondo por la crisis de representatividad que están
afrontando.</FONT></FONT></P>
</div>
<div  class="textoNota">Nota: Cualquier cita referida a estos contenidos, debe mencionar la fuente.</div>
