<div class="divMiddle texto">
<P LANG="es-AR" ALIGN=CENTER><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>Principio
de subsidiaridad</B></U></FONT></FONT></P>
<P LANG="es-AR" ALIGN=CENTER><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B><SPAN STYLE="text-decoration: none">Conferencia
dada en la Cátedra de Teoría Política- Universidad FASTA</SPAN></B></FONT></FONT></P>
<P LANG="es-AR" ALIGN=RIGHT STYLE="font-weight: medium; text-decoration: none">	<strong><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Dr. Horacio F. Caruso</FONT></FONT></strong></P>
<P LANG="es-AR" ALIGN=RIGHT STYLE="font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Septiembre de 2003</FONT></FONT></P>
<P LANG="es-AR" ALIGN=LEFT STYLE="border: 1px solid #000000; padding-top: 0.01in; padding-bottom: 0.17in; padding-left: 0.06in; padding-right: 0.06in">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B><SPAN STYLE="text-decoration: none">Sumario:</SPAN></B><SPAN STYLE="text-decoration: none"><SPAN STYLE="font-weight: medium">
 Introducción, pag. 1- Concepto, pag. 4- Interpretación, pag. 6- La
primera sociedad natural, pag. 8- Otras sociedades naturales, pag. 9-
La subsidiaridad en el ámbito económico, pag. 10. </P>

<P LANG="es-AR"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>Introducción</B></FONT></FONT></P>
<P LANG="es-AR"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En los años 30 se
  produjo en el terreno de la Filosofía Política, la enunciación y
  el comienzo de la elaboración de un novedoso principio, como
  corolario o síntesis de una variedad de problemas que venían siendo
  analizados, pero sin una visión de conjunto.</FONT></FONT></P>
<P LANG="es-AR"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Hay algunos hechos
  históricos que llevaron a tal elaboración desde 1878 hasta 1939, a
  saber:</FONT></FONT></P>

<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.49in; margin-right: 0.23in; text-indent: -0in; border: 1px solid #000000; padding: 0.01in 0.06in; line-height: 150%">
  <FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Aparición del
Estado moderno. Liberalismo. Socialismo. La cuestión social surgida
como producto de la revolución industrial. La separación en Francia
de la Iglesia y el Estado (1905). La difusión del sindicalismo. La
primera guerra mundial (1914/1918). La revolución rusa. Creación
del Estado de la Ciudad del Vaticano ( 1929). La crísis económica
mundial (crack de la bolsa de N.York en 1929). Revolución de México.
Desarrollo del fascismo (Italia) y del nazismo (Alemania). La guerra
civil española (1936/1939) </FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Esto
dio origen al  principio de función subsidiaria, o en términos más
conocidos,  el principio de subsidiaridad.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Hay un aspecto
sociológico-político que debe ser notado a partir de éste
principio, que se refiere a la ordenación y función recíproca de
los grupos entre sí y con la comunidad política que los comprende,
pero resulta por demás importante resaltar que el mismo no haya sido
configurado por ningún pensador o por la elaboración de alguna
escuela científica, sino que haya sido formulado por las palabras de
un Pontífice, hablamos de Pío XI, quien hace una primera
aproximación del tema, en su encíclica “Quadragésimo Anno”, de
fecha 15/05/1931. A raíz del contexto histórico que mencionamos, ya
se habían enunciado distintas encíclicas, que tenían que ver con
la situación que vivía la sociedad de aquella  época,
fundamentalmente la “Rerum Novarum” que se refiere entre otras
cosas a la situación de los obreros (15/05/1891) y la “Casti
Connubi” con relación al matrimonio y la familia ( 21/08/1930).</FONT></FONT></P>

<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.49in; margin-right: 0.23in; border: 1px solid #000000; padding-top: 0.01in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0.06in; line-height: 150%">
  <FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	La palabra
encíclica es de origen griego que significa “carta circular”;
son documentos que publican los Papas cuando quieren dar una
recomendación de especial importancia, dirigida a toda la Iglesia, a
los Obispos o incluso a todos los hombres. Se las identifica por las
primeras palabras de su texto. Ej. “Rerum novarum, Pacem in terris,
Quadragésimo Anno etc.”</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El principio que nos 
ocupa, está vinculado a una nueva ponderación de la naturaleza
compleja de la estructura social, y del orden con que esta estructura
se define dentro de una comunidad política.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Por
vía del pensamiento filosófico cristiano ya se había definido el
carácter natural de ciertas comunidades comprendidas dentro de la
comunidad política.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	En tal sentido y
recogiendo la polémica que se plantea entre Platón y Aristóteles,
ya se había afirmado la sustantividad de <B>la familia</B> como una
autonomía de fines propios, y extendiéndola esta concepción hacia
otras comunidades, se construyó una teoría pluralista de la
comunidad política.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	El individualismo
social, económico y político triunfante a fines del siglo XVIII,
había opacado el sentido de este pluralismo social, imponiendo en su
lugar una teoría política cuyo enunciado y preocupación principal
era la relación del hombre individual con el Estado, siendo entonces
prioritario definir un equilibrio de poder y un mojón de límites, 
en función de los derechos del individuo.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Como consecuencia de
estos movimientos, surgió entre el individuo y el Estado, un nuevo
ente: “ la sociedad”.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	El término “sociedad”
ha tenido en la Ciencia Política varios significados, ya que se
contraponían Estado y Sociedad, como dos realidades diversas, que se
enfrentaban o complementaban, pero teniendo siempre con relación a
la sociedad, una concepción de entidad subsistente e independiente
de la comunidad política, y fundamentalmente una entidad unitaria.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	A partir entonces de
las concepciones que se enuncian en las encíclicas y de la realidad
política que se viene desarrollando en las épocas en que éstas se
difundieron, se comenzó a ver otra realidad.  Es decir, no existe
“una sociedad”, sino una pluralidad compleja de entes sociales,
trabados entre sí, sobre los que la comunidad política constituye
una “unidad de orden”.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	El mismo carácter
unitario y recíprocamente vinculado de esos múltiples entes
sociales, es la resultante de ese orden imperativo de convivencia que
define a la comunidad política.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Lo que la Ciencia
Política de los años 30, llamaba “la sociedad”, es hoy un
tejido continuo de grupos menores, yuxtapuestos o superpuestos entre
sí. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	El orden político no
es sólo un deslinde y distribución de esferas de poder, sino un
orden de grupos que ha de definir y deslindar la esfera de
competencia y poder de ese complejo tejido de grupos humanos.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	NO EXISTE PUES
“SOCIEDAD”, SINO  “SOCIEDADES”. Todos distinguimos la entidad
propia de una familia, de un taller o de una ciudad; todos sabemos
como cada uno de dichos grupos se traban o se yuxtaponen entre sí.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	En cada uno de esos
grupos, cada uno de sus miembros tiene plena conciencia de la unidad
de grupo.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	La comunidad política
como orden imperativo de la convivencia, no es sólo un orden de
hombres, sino, un orden de los grupos en que éstos se integran.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Ahora bien, como los
grupos a su vez responden a tendencias naturales o a funciones
necesarias de la vida social, pretenden afirmar también el valor de
las funciones que cumplen o de los intereses que satisfacen,
reclamando entonces su puesto en el orden, es decir una esfera de
poder y acción.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Así se produce una
tensión entre el orden que trata de definir el poder político y el
orden que tienden a preservar los grupos de una comunidad política.</FONT></FONT></P>

<H1 LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Concepto</FONT></FONT></H1>
<P LANG="es-AR"  ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En este contexto, nace
la encíclica de Pío XI, “Quadragésima Anno”, ya citada, que en
su párte pertinente al principio que nos ocupa dice:</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-left: 0.49in; margin-right: 0.23in; border: 1px solid #000000; padding-top: 0.01in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0.06in;">
  <FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	“Pues aún siendo
verdad, y la historia lo demuestra claramente, que por el cambio
operado en las condiciones sociales, muchas cosas que en otros
tiempos podían realizar incluso las asociaciones pequeñas, hoy son
posibles sólo a las grandes corporaciones, sigue, no obstante en pie
y firme en la filosofía social aquél gravísimo principio
inamovible e inmutable: como no se puede quitar a los individuos y
darlo a la comunidad lo que ellos pueden realizar con su propio
esfuerzo e industria, así tampoco es justo, constituyendo un grave
perjuicio y perturbación del recto orden, quitar a las comunidades
menores e inferiores lo que ellas pueden hacer y proporcionar y
dárselo a una sociedad mayor y más elevada, ya que toda acción de
la sociedad, por su propia fuerza y naturaleza, debe prestar ayuda a
los miembros del cuerpo social, pero no destruirlos o absorberlos.</FONT></FONT>
<br>
<br>
Conviene, por
tanto, que la suprema autoridad del Estado permita resolver a las
asociaciones inferiores aquéllos asuntos y cuidados de menor
importancia, en los cuales por lo demás perdería mucho tiempo, con
lo cuales que logrará realizar más libre, más firme y más
eficazmente todo aquello que es de su exclusiva competencia, en
cuanto sólo él puede realizar, <U>DIRIGIENDO, VIGILANDO,
URGIENDO Y CASTIGANDO</U>, según el caso requiera y la
necesidad lo exija. Por lo tanto tengan muy presente los gobernantes
que mientras más vigorosamente reine, salvado este principio de
FUNCION SUBSIDIARIA, el orden jerárquico entre las diversas
asociaciones, tanto más firme será no sólo la autoridad, sino
también la eficiencia social, y tanto más feliz y próspero el
Estado de la Nación”.
</P>

<P LANG="es-AR"  ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es decir, estamos
frente a un principio de filosofía social, que se define como
“inamovible e inmutable” y cuya violación representa una
injusticia. Nos hallamos entonces frente a un principio de derecho
natural.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Con ello, se le da la
competencia al Estado para que como modo específico de acción,
dirija, vigile, urja y exija (castigue).</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Otra clara definición
de las palabras de esta encíclica, es que se anuncia el principio de
supletoriedad, por el cual el Estado, suple a las asociaciones
inferiores, en lo que no pueden hacer. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	En 1961, la encíclica
“Mater et Magistra”, que se ocupa de la Doctrina Social de la
Iglesia, la industrialización y los nuevos problemas sociales,
reafirma estos enunciados, con algunos matices a saber:</FONT></FONT></P>

<UL>
	<LI><P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El principio se
	proyecta no sólo sobre la relación entre el Estado y las
	comunidades, sino más directamente sobre la relación entre la
	actividad de los seres humanos y el Estado, ya sea que actúen
	hombres aisladamente, o dentro de grupos. La generalidad del
	principio se extiende desde el individuo al Estado, por vía de la
	gama de comunidades menores intermedias.</FONT></FONT></P>
	<LI><P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Se enumeran los modos
	con que el Estado interviene para ayudar o subsidiar la vida
	económica con palabras que rectifican el texto anterior, al decir 
	<U><B>“fomenta, estimula, coordina, suple y completa e integra”.</B></U></FONT></FONT></P>
	<LI><P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Aplica directamente
	este principio a comprender la relación entre el poder público y
	la iniciativa particular en el ámbito económico, considerando como
	una de las consecuencias más importantes del principio de
	subsidiaridad, la coordinación de la actividad económica
	individual y la acción del poder público.</FONT></FONT></P>
</UL>

<H2 LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Interpretaciones</FONT></FONT></H2>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	La más simple de las
interpretaciones de este principio es el que lo concibe como un
principio limitativo que acota el poder del Estado, en contraposición
con la acción del poder político en la imposición de una orden.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Este principio que se
apoya en la idea del Bien Común,  es el principio que construye
desde arriba el orden de una comunidad.  Por el contrario, el
principio de subsidiaridad construye desde abajo, limitando la acción
coordinadora del poder político.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Esta limitante se
completa con la idea de que la ayuda se define como suplencia que
faculta a la comunidad superior a intervenir cuando las entidades
inferiores 1) no sean capaces de cumplir con la misión que les
incumbe, 2) cuando dicha misión es superior a sus fuerzas o 3)
cuando renuncien a tal misión.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Subsidiario no quiere
decir que el Estado deba hacer lo menos posible o que sería deseable
suprimir la intervención del Estado, si fuera posible.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Tampoco significa que
el Estado tenga sólo una función supletoria o secundaria, sólo
para suplir las deficiencias.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Tampoco estamos frente
a una definición de la naturaleza del Estado, al que se le atribuye
una función subalterna, supletoria o secundaria. Así estaríamos
cerca de una concepción de liberalismo económico.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	El principio de
subsidiaridad no define la naturaleza del Estado, sino la naturaleza
de  sus relaciones con otras sociedades, y positivamente ayuda a la
misión de realizar el Bien Común. Así entraña una misión
primaria de <B>dirigir, vigilar, estimular y contener</B>, y sólo
eventualmente <B>reemplazar,  sustituir</B>, según lo exijan las
circunstancias.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Es decir, la ayuda es
para lograr el Bien Común y el ejercicio de la Justicia
Distributiva.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Por otra parte, el
hecho de que este principio haya sido enunciado en momentos en que
triunfaban el marxismo soviético, el nacionalismo y el fascismo, ha
permitido que se acepte este principio como defensa contra los
peligros del totalitarismo y el colectivismo.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Hay autores (
Nell-Breuning) que sostienen que el principio de subsidiaridad no
sólo no contradice la acción positiva del Estado para realizar el
Bien Común, sino que éste y aquél son expresiones diversas de una
misma idea.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	El principio de
subsidiaridad no es contradictorio, sino complementario del principio
de solidaridad, viniendo a establecer cuáles funciones le
corresponden al todo y cuáles a sus miembros.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Por su parte,
Rauscher, sostiene que es un principio de derecho natural, cuya
violación es una injusticia. Significa respeto por la vida natural
de los grupos, en este sentido es un límite, y a su vez ayuda, como
algo nuevo en el escenario.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	La comunidad política,
como todo, tiene su plenitud de valor en su vinculación a la
plenitud de valor personal de sus miembros. La subsidiaridad de la
comunidad política significa la posibilidad de apropiación de los
valores por las personas mismas, no que la comunidad los efectúe y
los participe, sino que sea ayuda para el desenvolvimiento individual
y social. Es éste en definitiva el concepto esencial de Bien Común
según Rauscher.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Por último, Messner
sigue la misma línea con algún matiz importante de destacar. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	La misión del Estado
al servicio del Bien Común es hacer posible la tarea de todos los
miembros de la comunidad bajo su propia responsabilidad. Por
consiguiente, es el Bien Común el que debe definirse como ayuda para
el desenvolvimiento de los miembros. Es decir, lo que los miembros de
una comunidad individualmente o las sociedades miembros de ella
pueden hacer con sus propias fuerzas, corresponde a su propia
competencia. Así el Bien Común y el Principio de Subsidiaridad
muestran dos aspectos de la misma cosa.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Se pregunta éste
autor ¿que añade el principio de subsidiaridad a la idea del Bien
Común para que exija ser formulado como un principio independiente?
y contesta, <B>la división de competencias, </B>fundado en la misma
naturaleza de las cosas.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Estamos entonces
frente a un principio jurídico que determina esferas de competencia,
con ámbitos de responsabilidad.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-right: 0.23in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Es un principio de
derecho natural, que se sustenta en que lo que puede hacer y procurar
una comunidad menor no debe encomendarse a una sociedad mayor y más
elevada. Estamos así en un iusnaturalismo que funda el Derecho
Natural en la misma “naturaleza de la cosa” y por tanto es un
principio de orden fundado en la justicia.</FONT></FONT></P>

<H2 LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La
primea sociedad natural</FONT></FONT></H2>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Ya
mencionamos más arriba a la familia como punto de partida para una
concepción pluralista de la comunidad política. Pues es la primera
sociedad natural.</FONT></FONT>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Teniendo como
fundamento su naturaleza – fue fundada por Dios mismo al dar al
hombre una compañera – no es sólo de derecho natural, sino
también de derecho divino atento a que matrimonio ostenta la
dignidad de sacramento y se transforma por ende, en una institución
estable y por tanto indisoluble.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Hay por tanto,
inicialmente,  dos  principios que soportan la institución, cual es
su función de aportar a la especie su prolongación en el tiempo,
por vía de la <B>procreación </B>y su continuación natural al
mismo fin, como es la <B>educación</B> de los hijos, ajustado a su
fin.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Ahora bien, el Estado
tiene como misión atento a los elevados fines que la conforman,
tutelar y ayudar el cumplimiento de su derecho de educar, y suplirla
en su caso, como propio del servicio para lograr el Bien Común. Es
una misión relevante del Estado.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Así se ha sostenido
que la familia como célula de la vida social, tiene entre otros los
siguientes derechos:</FONT></FONT></P>

<UL>
	<LI><P LANG="es-AR"  ALIGN=JUSTIFY >
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El derecho a proveer
	el bien temporal y eterno de los hijos.</FONT></FONT></P>
</UL>
<UL>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El
	derecho a una vida materialmente sana, y en consecuencia el derecho
	a un hogar-habitación adecuado a sus necesidades.</FONT></FONT></P>
</UL>
<UL>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El
	derecho a la posesión de bienes producidos, transmisibles por
	herencia a los hijos.</FONT></FONT></P>
</UL>
<UL>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El
	derecho a un salario familiar que proporcione al cabeza de familia
	los medios necesarios para atender sus necesidades.</FONT></FONT></P>
</UL>
<UL>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El
	derecho a la seguridad del trabajo, en cuanto éste implica el medio
	para adquirir los medios de subsistencia.</FONT></FONT></P>
</UL>
<UL>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El
	derecho a una vida moralmente sana, y por tanto el derecho a una
	moralidad pública.</FONT></FONT></P>
</UL>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-left: 0.49in; text-indent: -0.49in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>Otras sociedades
naturales</B></FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Por la importancia que
reviste, no podemos obviar la mención de las <B>asociaciones
profesionales</B>, ya que su naturaleza como entidad natural,
proviene de la práctica de una misma profesión como vínculo de sus
miembros, así como la aplicación de un saber técnico como medio de
vida y que por tanto cumple con una función social.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Ya sólo por su
carácter de entidad natural cae bajo el principio que nos ocupa, con
aptitud propia para resolver algunos problemas vinculados a sus
profesiones y a su quehacer social.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Sostuvo Pío XI que el
impulso natural que lleva a los hombres a unirse en razón de su
profesión, es comparado al mismo impulso natural que lleva a los
hombres que se sienten vinculados por la vecindad, a constituir
municipios.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>También el Pontífice
se ha pronunciado respecto de <B>los grupos de presión</B>, unidos
por una comunidad de intereses y que presentan reivindicaciones o
pretensiones ante el poder público.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En tal sentido ha
reafirmado la doble función del principio de subsidiaridad, sobre
todo porque el poder público no debe asumir las funciones
económicas, culturales y sociales que le pertenecen a otras
competencias, pero tampoco los grupos que representen intereses
poderosos y activos, sean del carácter que sean, deben abusar de  la
fuerza del número organizado para pesar sobre el gobierno y la vida
de la nación. </FONT></FONT>
</P>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-left: 0.49in; text-indent: -0.49in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>La subsidiaridad en
el ámbito económico</B></FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>	</B>Para
desarrollar este acápite conviene ubicarse en la mitad del siglo
XVIII con el advenimiento de la concepción fisiocrática.</FONT></FONT></P>

<P ALIGN=JUSTIFY STYLE="margin-left: 0.49in; margin-right: 0.23in; text-indent: -0in; border: 1px solid #000000; padding: 0.01in 0.06in; line-height: 100%" LANG="es-AR">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	<U>Fisiocracia</U>:
Es una doctrina económica preponderante entre los economistas
franceses, de la segunda mitad del siglo XVIII, que aporta la primera
teoría general de la sociedad, basada en dos concepciones
esenciales, una de carácter filosófico – la del orden natural –
y otra de carácter económico – la del producto neto -.</FONT></FONT>

<br>
<br>
El sistema fisiocrático se basa en la doctrina del orden natural, según el cual existen leyes naturales, absolutas, inmutables y universales, las mejores que pueden concebirse. La tarea de los gobiernos deberá limitarse a hacerlas respetar y en particular, a mantener la propiedad y la libertad.

<br>
<br>
El sistema fisiocrático se basa en la doctrina del orden natural, según el cual existen leyes naturales, absolutas, inmutables y universales, las mejores que pueden concebirse. La tarea de los gobiernos deberá limitarse a hacerlas respetar y en particular, a mantener la propiedad y la libertad.

<br>
<br>
La doctrina del producto neto fue expuesta por Francois Quesnay en su Tabla Económica. Allí compara la circulación de bienes y servicios con la circulación de la sangre en el cuerpo humano ( era médico). Según él, el dinero sólo es un intermediario; la verdadera riqueza procede de un producto neto consumible, es decir, de una parte que excede los gastos necesarios para obtenerla.

<br>
<br>

Este producto neto no existe ni en la industria ni el comercio; sólo lo proporciona la agricultura.

<br>
<br>
Esta teoría llevó a los fisiócratas a proponer el libre juego de las iniciativas individuales y a preconizar un impuesto único y directo que sólo grave a los terratenientes.</P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Con esta concepción,
los fisiócratas creyeron descubrir en el mundo de la economía,
leyes propias que les permitían según  ellos, afirmar su
independencia del orden político. Su base era la creencia de que las
leyes de la oferta y la demanda equilibrarían  la producción de
bienes y servicios y su consumo partiendo de una serie de libertades.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Sobre estas bases
jurídicas se asentó y surgió el capitalismo como un hecho, en que
las acumulaciones de capital a favor de una técnica revolucionaria y
científica van a generar poderes económicos que tienden a eliminar
la concurrencia y a constituir monopolios.	 </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="text-indent: -0in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>		En virtud de ello, el
maquinismo, instrumento de un crecimiento fabuloso de riqueza,
sustrajo el capital industrial del poder de quien lo usaba y creó
masas de obreros asalariados, y en la misma medida que se
incrementaba la riqueza y se distribuía desigualmente creó
tensiones de clase, como producto de las diferencias económicas.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>		El liberalismo
económico había pretendido concebir relaciones del orden económico
y del orden político como dos ámbitos autónomos e independientes.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>		Consecuencia de la
deformación del sistema económico liberal, por el capitalismo, y la
anulación en la práctica de las libertades económicas por el
régimen de los monopolios, dejó al orden político vinculado a esos
poderes económicos. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>		Esta situación será
la que impulsa la aparición de Marx y su filosofía de raíz
hegeliana.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>		Surge así la lucha
de clases, la dictadura del proletariado, la propiedad colectiva de
los medios de producción y la centralización estatal de la
economía.</FONT></font></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>		Es decir, ahora el
poder político absorbe la vida económica, concluyendo entonces en
un dibujo histórico de tres posibles concepciones de la relación
entre el orden político y el económico:</FONT></FONT></P>
<UL>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La
	que concibe el orden político como una superestructura de la
	totalidad de las relaciones económicas de un régimen de
	producción.</FONT></FONT></P>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La
	que condiciona la vida económica a las estructuras, los impulsos y
	las decisiones del orden político.</FONT></FONT></P>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La
	que cree en un orden económico espontáneo, que se manifiesta como
	autónomo, frente al orden político. Es decir separación total
	entre la economía y la política.</FONT></FONT></P>
</UL>
<P LANG="es-AR" ALIGN=JUSTIFY>
<BR>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En este contexto se
anuncia una cuarta opción. La función subsidiaria del Estado, como
principio, emanado de la doctrina católica, que lleva de suyo la
concepción según la cual los hombres, en virtud del principio de
libre iniciativa, son sujetos de una actividad económica, y de otra
implica una intervención coordinadora, integradora y supletoria del
Estado.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Esto supone el derecho
del Estado a intervenir en el ámbito económico y por otro lado
salvar y proteger el derecho de la persona al libre desarrollo de las
actividades económicas de producción.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La consecuencia que se
deduce de la concepción católica, expuesta por Pío XI, en su
encíclica “Quadragésimo Anno”de 1931,  es que la recta
organización del mundo económico no puede entregarse al libre juego
de la concurrencia.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>De ahí su principio
que defiende y tutela la autoridad pública y la intervención del
Estado.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La ordenación
económica está vinculada al principio de la dignidad de la persona
humana, y en consecuencia el criterio para medir la legitimidad de
los diversos sistemas económicos es simplemente que la persona sea
sujeto y no objeto de la economía.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Por último y en línea
con la encíclica mencionada, la “Mater et Magistra” en 1961,
amplió el fin de las políticas económicas al servicio del progreso
social, según lo siguiente:</FONT></FONT></P>
<UL>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El
	desarrollo económico deber ir acompañado y proporcionado con el
	progreso social, de suerte que de los aumentos productivos tengan
	que participar todas las categorías de los ciudadanos.</FONT></FONT></P>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El
	poder público tiene hoy que desenvolver una acción multiforme en
	el campo económico. Esta acción debe traducirse en lo siguiente:</FONT></FONT></P>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Reducir
	los desniveles entre los distintos sectores dela producción.</FONT></FONT></P>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Contener
	las oscilaciones en las situaciones económicas y mantener una
	adecuada proporción entre salarios y precios.</FONT></FONT></P>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Afrontar
	los fenómenos de desocupación de masas, dando ocupación  al mayor
	número de trabajadores.</FONT></FONT></P>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Ajustar
	en lo posible las estructuras productivas a los progresos de las
	ciencias y las técnicas.</FONT></FONT></P>
</UL>
</div>
<div  class="textoNota">Nota: Cualquier cita referida a estos contenidos, debe mencionar la fuente.</div>
