<div class="divMiddle texto">
<P LANG="es-AR"  ><FONT FACE="Verdana, sans-serif"><strong><FONT SIZE=2>CONFERENCIA
SOBRE  “EL DERECHO NATURAL Y LA COMUNICACIÓN SOCIAL”.</FONT></strong></FONT></P>

<P LANG="es-AR"  ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><SPAN STYLE="font-weight: medium">II
Jornadas Científicas Simultáneas de Comunicación Humana y
Comunicación Social, organizada por la Federación Latinoamericana
de Entidades Difusoras de la Comunicación, en el Centro de
Constructores de la Ciudad de Mar del Plata</SPAN></FONT></FONT></P>

<P LANG="es-AR"  ALIGN=RIGHT>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>Dr. Horacio F.Caruso</B></FONT></FONT></P>
<H1 LANG="es-AR"  ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>16
DE OCTUBRE DE 2004</FONT></FONT></H1>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Deseo agradecer
profundamente a las autoridades de estas jornadas, por dos razones
fundamentales: primero por haberme invitado a participar, lo cual es
para mi  un privilegio, y segundo y sobre todo por haber incluido el
tema de Derecho Natural con el objeto de vincularlo a  la actividad
por Uds. profesada, es decir a la comunicación social. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Debo decirles que no
resulta común que este tema se incorpore a actividades fuera del
ámbito jurídico, por lo que para aquellos que incursionamos en él,
a partir de una concepción del hombre como creatura social, no
exenta de fe, en lo extra-terrenal, y sobre todo de aplicación
práctica y fundante en el ámbito terrenal, nos permite hacer
conocer esta doctrina, que tanto y tan profundamente ha influenciado
en el hombre, aún sin éste saberlo, tal como trataremos de
puntualizar.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Antes de llegar al nexo
entre el Derecho Natural y la Comunicación Social, se impone que 
comencemos por definir qué es el Derecho Natural; sus razones
históricas y contemporáneas en tanto derecho, y qué influencia ha
tenido y tiene en nuestras vidas, si partimos de la concepción que
todo o casi todo movimiento que el hombre realiza, es decir pasar de
la potencia al acto, en palabras de nuestro viejo <BR>Aristóteles,
incursiona por algún tipo de derecho, sea positivo o natural, pero
teniendo a éste último siempre, como factor fundacional.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>De este concepto,
repito fundacional, parte la doctrina que nos enseña que puede haber
deberes – como contracara de derechos - susceptibles de no ser
obedecidos, si contrarían la doctrina del Derecho Natural.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Ya entrando en materia,
y sin detenernos en los antecedentes del Código Hamurabi, 1750 años
A.C.,  decimos que en el paso del siglo IV al III a.c. fue enunciado
la existencia del Derecho Natural por Hippias, en la antigua Grecia y
en plena etapa de los pensadores sofistas. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>No puede escapar a
estas reflexiones, el dato concreto que nos indica que bajo la
denominación de sofistas, se agrupaban una serie de pensadores
contemporáneos de Sócrates - por eso son llamados presocráticos -
y que a pesar de tener entre ellos diferencias considerables, se
encontraban vinculados entre sí por representar a quienes condujeron
el pensamiento griego en su tránsito de una visión objetiva a lo
subjetivo, enseñando a los ciudadanos de la polis –ciudad estado -
como actuar en democracia a cambio de una retribución.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>No obstante que las
características comunes de los sofistas podemos agruparlas en:</FONT></FONT></P>

<UL>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY >
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I><U>Relativismo</U></I>:
	para ellos nada hay fijo y estable. Todo cambia. Las esencias de las
	cosas, son variables y contingentes.</FONT></FONT></P>
</UL>
<UL>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY >
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I><U>Subjetivismo</U></I>:
	no existe la verdad objetiva. Como consecuencia, las cosas son como
	a cada uno le parecen.</FONT></FONT></P>
</UL>
<UL>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY >
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I><U>Escepticismo</U></I>:
	 no somos capaces de conocer nada con certeza.</FONT></FONT></P>
</UL>
<UL>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY >
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I><U>Indiferentismo
	moral y religioso</U></I>: no existen cosas buenas en sí, es decir
	intrínsecamente buenas.</FONT></FONT></P>
</UL>
<UL>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY >
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I><U>Convencionalismo
	jurídico</U></I>: acentúan la contraposición entre ley y
	naturaleza. No existen leyes inmutables. Las leyes no tiene
	fundamento en la naturaleza ni han sido establecidas por los dioses,
	sino que son simples convenciones de los hombres para poder vivir en
	sociedad. Fuera de ésta, los hombres  no tiene más ley que la
	“natural” de sus instintos.</FONT></FONT></P>
</UL>
<UL>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY >
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I><U>Oportunismo
	político</U></I>:  no había nada bueno o malo en sí. En
	consecuencia todos los medios eran buenos para conseguir cualquier
	fin propuesto.</FONT></FONT></P>
</UL>
<UL>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY >
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I><U>Venalidad</U></I>:
	vendían sus lecciones por dinero. De allí que Platón los
	calificara como “mercaderes ambulantes de golosinas del alma”</FONT></FONT></P>
</UL>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>debemos reconocer en
Hippias, su primera formulación del Derecho Natural al decir: </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I>	“A todos vosotros
que os encontrais reunidos, os considero como parientes, que
pertenecen unos a los otros y como ciudadanos; y os considero así
</I><I><B>POR NATURALEZA Y NO POR LEY</B></I><I>, pues lo semejante
está unido a lo semejante por naturaleza, </I><FONT COLOR="#ff00ff"><I>en
tanto la ley</I></FONT><I>, este tirano de los hombres, contradice
frecuentemente la naturaleza”</I></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Con Hippias, vemos
entonces que se formula en forma revolucionaria la doctrina del
Derecho Natural. Es decir, la naturaleza no encuentra en la ley
positiva humana su forma de expresión y complemento, sino que son
enemigas enfrentadas duramente.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYL>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Paralelamente, Antifón
El Sofista, tiene dicho en la misma epoca: </FONT></FONT>
</P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	<I>“La mayoría de
los asuntos que son justos </I><FONT COLOR="#ff00ff"><I>conforme a
una ley</I></FONT><I> están en pugna con la naturaleza”.</I></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Estamos así cuatro
siglos antes de Cristo, incursionando en la doctrina del Derecho
Natural, no obstante encontrarnos en el mundo pagano.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Observamos que lo dicho
por Antifón, incorpora el término “justos” conforme a una ley.
Es por ello, que aparece para contrarrestar la influencia de los
sofistas en el pueblo griego, SÓCRATES, cuyas enseñanzas nos llegan
por los testimonios de sus discípulos Platón y Jenofonte, ya que no
dejó nada escrito.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La meta de este gran
pensador era el cuidado del alma y la perfección del hombre, metas
que se alcanzan  por medio de <U><B>la virtud</B></U><B>,</B> y para
lo cual cita: </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY>
“<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I>sólo puede ser
captada por los hombres a través de una transformación interna que
vaya de lo superficial a la esencia de lo humano”.</I></FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La diferencia de
Sócrates con los sofistas, no está en relación al objeto de sus
reflexiones, las cuales están destinadas al hombre, sino que
superando el relativismo de aquéllos, advierte que el hombre debe
ajustar su conducta a un orden universal objetivo. A un mundo de
valores, de la belleza, de la justicia.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El punto para él no es
vivir, sino vivir virtuosamente.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Así, Sócrates
incursiona en lo justo y lo equipara con la ley. Ahora bién, para él
no existe sólo la ley positiva humana, sino que existen normas
superiores a las leyes escritas cuyo fundamento está en la
divinidad. Son leyes no escritas establecidas por los dioses.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Algunas de estas leyes
sobrehumanas, recordemos en el ámbito pagano, son: el deber de
honrar a los padres y a los dioses, la obligación de corresponder a
las buenas acciones y la prohibición del incesto.</FONT></FONT><SUP><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><A CLASS="sdfootnoteanc" NAME="sdfootnote1anc" HREF="#sdfootnote1sym"><SUP>1</SUP></A></FONT></FONT></SUP></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>No obstante, la
Justicia no es contrapuesta por Sócrates al derecho positivo, pues a
diferencia de los sofistas, sostiene que es únicamente a través de
la ley humana donde se concreta y realiza el valor de la Justicia;
así vemos que busca el bien común guiado por la verdad. Sostiene
que la verdad existe, y que la razón puede llegar a descubrirla. Más
adelante ampliaré sobre la verdad.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Pero no es en la
fidelidad de las leyes de la polis, sino en la afirmación de la
existencia de un orden universal establecido por Dios, del cual la
conciencia es un testigo, donde vemos el mérito histórico de
Sócrates, en lo que concierne al Derecho Natural.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Luego de ello, Platón
desarrolla los esbozos de Sócrates y se empeña en la búsqueda de
una verdad objetiva, sustraída de toda duda.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Así busca un orden
justo, partiendo de la naturaleza del hombre, de la cual surge la
Polis.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La misión primordial
de la ciudad, es hacer virtuoso al hombre, creando las condiciones
sociales para el perfeccionamiento de la personalidad humana.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Así, indagando en la
naturaleza del hombre, encuentra dos factores naturales, que son la
supremacía de la razón que predomina sobre la voluntad y la pasión
y en la sociedad la división del trabajo.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Para este pensador, el
Estado nace de la naturaleza del hombre, es considerado un “hombre
en grande” y es necesario que en él, como en el individuo, reine
la armonía que se obtiene por la virtud. ( hábito bueno)</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La virtud armonizadora
por excelencia es la virtud principal de la Justicia, la cual se
halla ordenada al bien común político, y no a un bien particular o
de una minoría. Por ello para él, las leyes positivas deben tener
como objeto la virtud. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Recapitulando, tenemos
un Estado fundado en la naturaleza del hombre, primacía natural de
la razón sobre la voluntad y los instintos, división del trabajo,
bien común como justificación de poder y del Estado, leyes que
tengan su mira puesta en la Justicia. Es ésta entonces la
trayectoria ius-naturalista de Platón.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Seguimos avanzando en
los cimientos del Derecho Natural, y encontramos a Aristóteles,
quien sostiene que el hombre por naturaleza es un ser social. Está
inclinado a la Polis, y lo hace por vía de la familia, la comunidad,
etc. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Para él, la Justicia
se da en lo social, con relación a otro, y aquí incorpora la nota
de alteridad. Pero sostiene que las leyes que persiguen un fin
parcial, conducen a la perdición del Estado y nunca serán justas.
Aquí, separa la legalidad de la justicia, admitiendo la existencia
de leyes injustas.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El deber de obediencia
a las leyes no es incondicionado, ya que la sociedad encuentra su
razón de ser en la naturaleza racional de sus miembros. Por ello, en
el caso de que la sociedad no conformara esas exigencias naturales de
los hombres, que obstruyera el desarrollo de las personas
individuales que viven bajo su protección, existe el derecho a
desobedecer las leyes injustas, basándose en la justicia natural.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Siguiendo al maestro,
nos enseña que lo justo concreto en las comunidades políticas, se
divide en : </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I>1) </I><I><U>Justo
Natural</U></I><I>, que es aquél que posee por doquier la misma
fuerza, independiente de si es reconocido o no.</I></FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I>2)</I><I><U>Justo
por determinación humana</U></I><I>, que es aquél cuyo contenido
puede ser en principio uno u otro.</I></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es decir, existe una
opción libre para el gobernante que usando de su prudencia puede
establecer como derecho una u otro cosa, siendo justo porque él lo
determina.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Sin perjuicio de
reconocer a los griegos los primeros enunciados, se populariza esta
doctrina en el mundo romano de la mano de Marco Tulio Cicerón
(106-43 AC).</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
 <FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es importante citar lo
dicho por este pensador ecléctico, en su tratado De  República,
respecto de la ley natural:		</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>		<I>“Hay una ley
verdadera, la recta razón inscripta en todos los corazones,
inmutable, eterna, que llama a los hombres al bien por medio de sus
mandamientos y los aleja del mal por sus amenazas; pero ya sea que
ordene o que prohíba, nunca se dirige en vano a los buenos ni deja
de atemorizar a los malos. No se puede alterarla por otras leyes, ni
derogar alguno de sus preceptos, ni abrogarla por entero; ni por el
Senado ni el pueblo pueden liberarnos de su imperio; no necesita
intérprete que la explique; es la misma en Roma que en Atenas, la
misma hoy que mañana y siempre una misma ley inmutable y eterna que
rige a la vez todos los pueblos y en todos los tiempos. El Universo
entero está sometido a un solo amo, a un solo rey supremo, al Dios
todopoderoso que ha concebido, meditado y sancionado esta ley;
desconocerla es huirse de sí mismo, renegar de su naturaleza y por
ello mismo, padecer los castigos más crueles, aunque se escapara a
los suplicios impuestos por los hombres”.</I></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Modernamente, la
democracia sin límites ha intentado que la voluntad del pueblo
sustituyera a la naturaleza, o sea al orden natural como criterio
para determinar lo bueno y lo malo, lo justo y lo injusto. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Este voluntarismo ya
fue refutado por los antiguos y como  ejemplo tenemos a Cicerón,
quien ha afirmado:</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>		<I>“...si el
derecho se fundara en la voluntad de los pueblos, en los decretos de
los príncipes o en las sentencias de los jueces, entonces sería
derecho el latrocinio, derecho el adulterio, derecho la confección
de testamentos falsos, con tal que estos actos recibieran los
sufragios o la aprobación de la masa. Pues si tanto poder tiene la
opinión o la voluntad de los insensatos, como para poder, por sus
votos, trastornar la naturaleza de las cosas, ¿porqué no habrían
de decidir que lo que es malo y dañino se tuviera por bueno y
saludable?  O ¿porqué aún, ya que la ley podría crear el derecho
de la injusticia, no podría asimismo crear el bien como aquéllo que
es mal?  En  cuanto a nosotros, nos es imposible distinguir la ley
buena de la mala, de otro modo que no sea con la naturaleza como
norma....”</I></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Como Uds. pueden
apreciar, de estas citas surge claramente que los decretos del
príncipe, la opinión pública, o las sentencias de los jueces,
están limitados  por el orden natural, que es quien determina lo que
es bueno o malo, o lo que es justo o injusto.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Mencionaremos al pasar,
que la introducción  de Cicerón al mundo romano de los conceptos
enunciados, tuvo sus seguidores en la pléyade de jurisconsultos
romanos que son la base del derecho de Occidente.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Así, podemos nombrar a
Papiniano, Gayo, Ulpiano, Paulo y Modestino.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Todos elaboraron
teorías sobre la ley natural y el derecho natural, incorporándolos
al Derecho y al quehacer jurídico, acorde a lo que venimos
manifestando.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Con el advenimiento de
Moisés, 1750 años AC. como sucesor de Abraham, y la entrega en el
Monte Sinaí de las tablas, encontramos en el Antiguo Testamento, el
primer enunciado de Derecho Natural, que son los 10 mandamientos,
compartidos en dos de los cinco libros del Pentateuco, ( Génesis,
Exodo, Levítico, Números y Deuteronomio) a saber en Exodo 20,
parágrafos 2 a 17 y en el Deuteronomio 5, parágrafos 6 a 21, que
fueron a partir de su fuente divina, positivizados por las Sagradas
Escrituras primero y por la legislación de los pueblos después,
además de diversos pasajes que presuponen la existencia de una ley
ética, asequible a la ley natural, por ejemplo para citar uno <I>“¿Cómo
por lo que pasa en vuestro interior mismo, no discernís lo que es
justo?”</I> ( San Lucas, XII, 57). </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	En relación directa
con el tema que nos ocupa, es decir, el Derecho Natural y la
Comunicación Humana o Social, podemos exhibir algunos de los
mandamientos que tienen plena vigencia: (en color, CP es Código
Penal)</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>		1°)  Amarás a Dios
sobre todas las cosas</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>		2°) No tomarás el
nombre de Dios en vano</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>		3°) Santificarás
las fiestas</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>4°) Honrarás a tu
padre y a tu madre <FONT COLOR="#ff00ff">(Ejemplo de Derecho Natural,
en el Código Civil, art. 266)</FONT></FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>		5°) <FONT COLOR="#ff00ff">No
matarás ( Ejemplo de Derecho Natural, en el CP art.79)</FONT></FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>		6°) No cometerás
actos impuros (<FONT COLOR="#ff00ff">adulterio art.118CP Derogado</FONT>)</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>		7°) <FONT COLOR="#ff00ff">No
robarás ( Ejemplo de Derecho Natural en el CP art.164)</FONT>				8°)
<FONT COLOR="#ff00ff">No dirás falso testimonio ni mentirás (
comunicación)</FONT></FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>9°) No consentirás
pensamientos ni deseos impuros (la mujer de tu prójimo)</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>		10°) No codiciarás
los bienes ajenos.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es decir, el Derecho
Natural, tiene su génesis con la aparición del hombre, en tanto
tendencia natural a socializarce y comunicarse con los demás.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Sin detenernos en la
historia, por razones de tiempo, digamos que con la tarea de los
apologetas de la Patrística, que culmina con San Agustín,
(354-430), los Santos Padres se avocan a considerar los problemas tan
importantes para nuestra materia como los relativos a la naturaleza,
la justicia, el Estado, la autoridad, la esclavitud, la propiedad.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>No podemos dejar de
nombrar a Tertuliano (160-240), o a Lactancio (250-325) o a San
Ambrosio, obispo de Milán quien distinguió dos naturalezas, una
empírica, como se da en la realidad existencial, llena de faltas y
una buena naturaleza que sirve de medida a nuestro obrar.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Decía Tertuliano, que
el Derecho Natural nos prescribe un obrar justo, que consiste en
ayudar a los demás en todas las formas posibles y en no dañar a
nadie. Es decir, OBRAR CONFORME A LA NATURALEZA.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En esta época, se
recoge lo sostenido por Aristóteles, tiempo atrás  y se confirma
que el hombre es un ser social, por naturaleza. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La sociabilidad es como
un cable recubierto que lleva un alambre por dentro. La sociabilidad
es como el plástico exterior, pero ¿qué es lo que lleva adentro y
que lo impulsa al hombre a ser sociable y a “juntarse con otros&quot;?.
No creo equivocarme si digo que es... el AMOR. Amor natural hacia el
prójimo. Vale aquí recomendarles un libro muy bueno de Clive S.
Lewis (Irlanda, 1898-Oxford 1963) converso del protestantismo al
catolicismo que se llama “Los Cuatro Amores”, ( se refiere al
Afecto, Amistad, Eros, y Amor de Caridad Cristiana.). Hay una
película con su vida, protagonizada por Anthony Hopkins, llamada
“Tierra de Sombras”, también interesante para ver.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El hombre tiende a
unirse con otros seres de la especie, y por tanto se exige una
estructuración jerárquica natural, que deviene en la existencia de
una autoridad. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Haciendo un enorme
salto histórico por razones de tiempo, preferimos llegar a Santo
Tomás de Aquino, (1225-1274), quien es a nuestro entender el
pensador que logró la síntesis perfecta entre la filosofía y la
teología, no superada hasta nuestros días.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Su pensamiento se
plasmó en un contexto histórico rico en intelectualidad, ya que
doce siglos de cristianismo habían calado hondo; la sangre de los
mártires fermentó la tierra y la cristiandad a través de los
Concilios y los Santos Padres, elaboraron los dogmas de la Iglesia
Católica.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Dentro de dicho marco,
Tomás traza su obra. Recoge en ella lo mejor de la filosofía
griega, y de la jurisprudencia romana. La herencia de Aristóteles,
Ulpiano, los Santos Padres, etc, es ordenada y sistematizada en su
obra cumbre la Summa Theológica, pudiendo encontrar los enunciados
de nuestro tema, en el Tratado de la Ley (1-2, q 90-108) y en el
Tratado de la Justicia ( 2-2- q 57-59)</FONT></FONT><SUP><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><A CLASS="sdfootnoteanc" NAME="sdfootnote2anc" HREF="#sdfootnote2sym"><SUP>2</SUP></A></FONT></FONT></SUP><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Para este lúcido
pensador, con referencia a su análisis de la Justicia, afirma que la
misma debe estudiarse a través de su objeto, el Derecho, lo cual
define como lo justo.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><FONT>Distingue
las acepciones reales de la noción de Derecho, a saber</FONT><FONT><I>:
Derecho </I></FONT></FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><FONT><I>objetivo</I></FONT><FONT>,
es decir su acepción primaria como objeto de la justicia, la misma
cosa; </FONT></FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><FONT><I>Derecho
Normativo</I></FONT><FONT>, como orden jurídico o
conjunto de leyes y </FONT><FONT><I>Derecho</I></FONT><FONT>
como arte de discernir lo justo.</FONT></FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Por eso le agrega al
Derecho las notas características en sentido estricto:</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><FONT><I>Alteridad,
exterioridad, objetividad, obligatoriedad y coercibilidad</I></FONT><FONT>.</FONT></FONT></FONT></P>
<P LANG="es-AR" ALIGN=LEFT>
<FONT COLOR="#ff00ff"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	</FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Las
grandes divisiones del Derecho, que sostuvo Tomás, fueron el Derecho
Natural y el Derecho Positivo. Afirmaba que </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I>“
el Derecho o lo Justo Natural es aquello que por su naturaleza es
adecuado o ajustado a otro. Esto puede acontecer de dos modos.
Primero, considerando la cosa absolutamente y en sí misma....
Segundo, considerando la cosa no absolutamente, en su naturaleza,
sino con relación a sus consecuencias.... Considerar una cosa
relacionándola con las consecuencias que de ella se derivan es
propio de la razón; y de aquí que estas mismas consecuencias sean
naturales al hombre, en virtud de su razón natural que las dicta; y
por ello, el jurisconsulto Gayo escribe: Aquello que la razón
natural constituyó entre los hombres es observado por todos, y se
llama Derecho de Gentes.”</I></FONT></FONT><SUP><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><A CLASS="sdfootnoteanc" NAME="sdfootnote3anc" HREF="#sdfootnote3sym"><SUP>3</SUP></A></FONT></FONT></SUP></P>
<P LANG="es-AR" ALIGN=LEFT>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Vale a estas alturas,
referirse como antítesis,  a la doctrina protestante sobre el
Derecho Natural, enunciada por Lutero y Calvino que podemos resumir
en lo siguiente:</FONT></FONT></P>
<OL>
	<LI><P LANG="es-AR" ALIGN=LEFT>
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Las relaciones entre
	Dios - infinitamente justo -  y el hombre son despojadas de toda
	referencia a la justicia, y a la religión como virtud anexa a la
	misma. No interesa que el hombre cumpla – dentro de lo que
	buenamente pueda – con la ley natural y con la ley divina
	positiva, promulgada por  Dios, ya que su obrar bueno o malo no va a
	influir en lo más mínimo en el juicio divino.</FONT></FONT></P>
	<LI><P LANG="es-AR" ALIGN=LEFT>
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Sobre el concepto
	protestante de la naturaleza humana –totalmente corrupta- para
	Lutero,  no se puede basar el derecho natural, porque una naturaleza
	así no puede servirnos de medida de nada valioso. La razón y cito
	: “<I>considerada como una</I> <I>prostituta comida por la sarna y
	la lepra, debe ser ahogada por el bautismo y merece ser relegada a
	las letrinas, no puede ser el instrumento adecuado que nos ayude a
	conocer los principios iusnaturalistas”.</I></FONT></FONT></P>
</OL>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Comienza así a
perfilarse la separación entre la Moral y el Derecho. En el
pensamiento protestante la ley moral o jurídica, solo impone obras
exteriores, cuya imposición garantiza la autoridad por medio de la
fuerza; y las impone al común de las gentes, no al cristiano que no
necesita ley, bastándole sólo su fe y la norma de su propia
voluntad.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Así, el Derecho se
ocupará de la actividad exterior del hombre garantizando el
cumplimiento de sus normas mediante la coacción, y la moral sólo se
ocupará de las cuestiones de conciencia.</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En los diálogos
platónicos Sócrates repite una y otra vez <I><B>“ Quien comete
injusticia es peor que quien la padece”.</B></I></FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	La siguiente frase no
está en la Summa del siglo XIII, sino en una lección de ética y
proclama: <I><B>“...tenemos un gobernante sagrado, y lo que como
sagrado ha concedido a los hombres, esto es, el derecho de los
hombres”</B></I>, es decir que el derecho que el hombre necesita,
como garantía última, necesita asentarse en fundamento absoluto,
divino.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Toda acción humana
“altera” en cierto sentido y de algún  modo lo existente, la
situación estática de equilibrio. Goethe<FONT COLOR="#ff00ff"> </FONT>a
quien se le atribuye la frase de que “ser hombre significa aprender
a ser injusto”, dice en las Afinidades electivas: <I><B>“ Por muy
aislado que uno viva, se es, cuando menos se piensa, o deudor o
acreedor”</B></I>. Se impone entonces la necesidad ante la
exigencia de reestablecer el equilibrio, que recíprocamente logremos
y paguemos lo debido.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	A todo lo que al
hombre pertenece por naturaleza precede un don, y esa donación no
puede ser devuelta ni “restituida”.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Es sencillamente
impensable que el hombre al dirigirse a Dios, pudiera decir en algún
momento <I><B>“Ahora estamos en paz”</B></I>. Es decir haber
pagado su deuda con Él, es decir estar en paz, es lo que tiende la
Justicia. Tenemos entonces por conclusión, que con respecto de Dios,
la Justicia no tiene nada que hacer. Naturalmente en lugar de la
Justicia, entrará en su lugar otra cosa, una actitud en forma de
sustitutivo. Dicho esto, recalamos en lo que los antiguos denominaban
<I><B>RELIGIO,</B></I> no como dogma e iglesia, sino como actitud del
hombre frente a Dios.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Surge de ello, la
enorme desproporción entre la deuda, el debitum que por naturaleza
no puede ser cancelado, y sólo por eso se puede entender la
estructura interna del acto religioso, y sólo así será realizable.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Pero nuestro tema no es
la relación del hombre con Dios, sino la relación de hombre con
hombre. Y aquí también se pueden dar deudas que por su naturaleza
no pueden pagarse. Ejemplos: a mi madre no puedo decirle nunca
“Estamos en paz”, ya que no puedo pagarle lo que es de ellos.
Entonces aquí tampoco la Justicia es procedente. Los antiguos
llamaban a esto, <I><B>“Pietas”</B></I>, de la que la palabra
Piedad, no es una traducción precisa. Quiere decir y reconocer
internamente y/o exteriorizado, que hay deudas con determinadas
personas que es imposible resarcir.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Existe otro concepto,
que según la vieja doctrina de la Justicia, apunta igualmente a una
actitud propia del hombre y a él exigida con la que se intenta
responder, otra vez, al hecho de una deuda impagable. Aunque parezca
obsoleto en latín se dice <I><B>“Observantia”,</B></I> que los
diccionarios traducen como respeto. Es decir que tanto hacia el juez,
al profesor, al camarero o al auxiliar del hogar, no se le puede
pagar en sentido estricto  lo que corresponde, no sólo por la
función que cumple, sino por su entrega, simpatía, confianza o
cualquier otra manifestación brindada en un buen servicio.</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Ahora bien, aludiré
entonces a lo que considero el nexo más importante entre el Derecho
Natural y la Comunicación Social, lo cual es <U>la Verdad</U> y su
instrumento <U>La Palabra. </U></FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Respecto de esto, no me
extenderé más de lo necesario para marcar la confluencia entre
ambos, atento a que quien me seguirá en la disertación, mi
distinguido maestro Dr. Brunamontini, se extenderá con su proverbial
sapiencia sobre el tema de la Palabra Universal.</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Bien:</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>El uso de la
palabra</B></U></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Sin perjuicio de lo
que nos habla Santo Tomás sobre la etimología de la palabra, es
decir su nacimiento, su vida, es sin embargo mucho más importante
para él, el uso de las mismas.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	La palabra es como una
moneda de oro que se acuña una vez pero que puede ser utilizada con
múltiples fines y ser nuevamente acuñada o convertida en objeto no
monetario. Por eso es más importante el uso corriente, que su
origen. El sentido etimológico nos enseña una cualidad de las cosas
nombradas. En cambio el sentido actual nos señala la sustancia de
las mismas.</FONT></FONT></P>


<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>El dinamismo de
la palabra</B></U></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Ahora bien, las
palabras no son estáticas sino dinámicas. Evolucionan, cambian,
permanecen  siempre abiertas adquiriendo y perdiendo nuevos
significados, a través de su evolución histórica.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Como la palabra es un
fenómeno histórico, es decir una actividad humana, y un fenómeno
cultural, eso es, la objetivación externa de esa actividad, el
hombre manipula sus palabras cambiando tanto su forma externa, su
morfología, como su significado interno, su semántica.</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>La palabra,
tradición de realidades</B></U></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Cada palabra es por
consiguiente, un acumulador de experiencias, de matices, de sentidos,
de puntos de vista, de perspectivas sobre la realidad a lo excelente
del tiempo y del espacio.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	El uso histórico y
actual de las palabras es una vía de acceso a la realidad más
segura y amplia, más rica de significaciones de realidad, que la
sola etimología. Hay que tomarla en toda su trayectoria y tradición
porque así es como nos trae o entrega toda la realidad.</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>La palabra,
encubrimiento de realidades</B></U></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Pero, la palabra oral
o escrita, depende del pensamiento o palabra interior, porque es su
signo inmediato y depende también de la voluntad, porque es signo
convencional y artificial.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Entonces se nos
presenta aquí, el problema de la mentira, de la equivocidad, la
univocidad y la analogía. Por eso no todas las palabras ayudan a
conocer el pensamiento y la realidad sino tan sólo las palabras
sinceras, unívocas y análogas. Las otras, no hay que tenerlas en
cuenta.</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; border: 1px solid #000000; padding-top: 0.01in; padding-bottom: 0.01in; padding-left: 0.06in; padding-right: 0.38in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>				                  
Mentiras</FONT></FONT></P>

<P LANG="es-AR"  ALIGN=LEFT STYLE="text-indent: 0.49in; border: 1px solid #000000; padding: 0.01in 0.06in; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En <I>2-2</I>, 109
Santo Tomás trata de la veracidad, virtud que es parte potencial de
la virtud de justicia</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="text-indent: 0.49in; border: 1px solid #000000; padding: 0.01in 0.06in; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>10. Hacia una
sistematización del tema de la mentira. El Catecismo de la Iglesia
Católica</B></FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="border: 1px solid #000000; padding: 0.01in 0.06in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La doctrina católica
presenta a Dios identificado con la Verdad.  Y cuando se trata el
octavo mandamiento, después del nro. 2464 que hace una
caracterización del pecado, empieza en seguida con la parte
constructiva: <I>“. Vivir en la verdad”</I>. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="border: 1px solid #000000; padding: 0.01in 0.06in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El <B>2468</B>
desemboca en la veracidad = <I>“rectitud de la acción y de la
palabra humana”</I>. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="border: 1px solid #000000; padding: 0.01in 0.06in; font-weight: medium; text-decoration: none">
“<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I>Es la virtud que
consiste en mostrarse veraz en los propios actos y en decir verdad en
sus palabras, evitando la duplicidad, la simulación y la
hipocresía”.</I></FONT></FONT></P>

<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="border: 1px solid #000000; padding: 0.01in 0.06in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Después tenemos el
apartado <I>II. “Dar testimonio de la verdad”</I>, donde se habla
del deber de testificar dando testimonio del Señor, enlazando el
tema con el martirio (<B>2.473). </B>Y luego, recién, viene la parte
<I>“negativa”</I>:<I> “Las ofensas a la verdad”. </I> Se
ocupa entonces del falso testimonio y el perjuicio, el respeto a la
reputación, y de la mentira se ocupa en los artículos <B>2482/2487.</B></FONT></FONT></P>

<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="border: 1px solid #000000; padding: 0.01in 0.06in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>2482. </B><I>“La
</I><I><U>mentira</U></I><I> consiste en decir falsedad con intención
de engañar”</I> (S. Agustín, <I>“Contra mendatium”</I>, 4,5).
<B>2483. </B><I>“...Es hablar u obrar contra la verdad para inducir
a error al que tiene el derecho de conocerla”.</I> <B>2485. </B><I>“La
mentira es condenable por su misma naturaleza. Es una profanación de
la palabra cuyo objeto es comunicar a otros la verdad conocida...”</I>.
<B>2486. </B> <I>“Por ser una violación de la virtud de la
veracidad, es una verdadera violencia hecha a los demás. Atenta
contra ellos en su capacidad de conocer, que es la condición de todo
juicio y de toda decisión. Contiene en germen la división de los
espíritus y todos los males que ésta suscita. La mentira es funesta
para toda sociedad: socava la confianza entre los hombres y rompe el
tejido de las relaciones sociales.</I></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La palabra equívoca,
nos enseña Santo Tomás, es aquella que significa cosas totalmente
diversas en cada caso, cosas que entre sí no tienen relación
alguna. Por el contrario, la palabra unívoca es la que en todos los
casos significa cosas iguales, las mismas cosas. Y la palabra
análoga, es la que según los casos significa cosas que son
simultáneamente diversas e iguales. Por tanto, cuando usamos una
palabra equívoca el oyente o lector se puede equivocar por que puede
tener sentidos diversos. Si utilizamos una palabra unívoca, no hay
posibilidades de equivocación. Si utilizamos una palabra análoga,
podemos o no equivocarnos.</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>La palabra es
doble</B></U></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Desde otro ángulo,
nos enseña también el Aquinate, que el hombre es hablador, pero
habla de dos maneras. Habla hacia adentro de sí mismo y hacia fuera
de sí. Es la palabra interior o mental o pensamiento-afecto y la
palabra exterior u oral o escrita.</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>La palabra no es
la realidad</B></U></FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Ahora bien, la palabra
exterior, oral o escrita no es la realidad, ni siquiera el
pensamiento. Es la manifestación sensible del pensamiento. Y la
palabra interior tampoco es la realidad, sino la realidad pensada,
pensamiento de la realidad, tal como está captada en la mente.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Tenemos entonces que
tanto la palabra interior como la exterior, apuntan hacia la
realidad, dicen la realidad sin ser en sí mismas la realidad.</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>La palabra es
signo de la realidad</B></U></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	El hombre es hombre
porque posee palabra de realidad ( et verbum rei), porque se apropia
intelectualmente de las cosas, porque lee su interior. La
inteligencia es una facultad que naturalmente aprehende o se apropia
de la realidad.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	El derecho a la verdad
y el derecho al amor son materialmente la inclinación espontánea a
la apropiación intelectual y afectiva de la realidad.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Pues bien, el signo,
en cuanto signo, es correlativo, paralelo y eco de la cosa
significada, la fotografía de lo fotografiado, la imagen de la
realidad imaginada, la semejanza de lo semejante, el indicador de la
cosa indicada, la señal de lo señalado. Por ello conocer la
totalidad de un signo, no es conocerlo en sí mismo solamente, sino
además conocer la cosa significada. El conocimiento de una
fotografía no se limita a los elementos físicos, químicos visuales
y demás, sino que nos traslada al paisaje o persona fotografiados.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	La palabra exterior,
sonora, visual u oral o impresa, si bien ocupa el primer puesto entre
los signos con que el hombre manifiesta exteriormente sus afectos y
pensamientos en orden a alcanzar la realidad, vale menos que la
interna por dos razones, a saber: 1) porque es signo convencional y
artificial, ya que de suyo no tiene semejanza esencial con la
realidad ni con el pensamiento. 2) porque es signo inmediato del
pensamiento y mediato de la realidad, es decir, cuando hablo indico
directamente lo que pienso y sólo mediante mi pensamiento, indico la
realidad.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	La palabra interior o
mental, intelectual o pensamiento es la principal vía de acceso a la
realidad, porque es signo natural e inmediato de la realidad,
semejanza o fotografía de la misma, imagen viva e inteligible de
ella. Por esta palabra cada hombre se dice a sí mismo lo que siente
y percibe de una cosa y gracias a ella la realidad se hace presente
en él como entendible.</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>La palabra al
servicio de la realidad</B></U></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Tomás de Aquino nos
enseña que las palabras y los pensamientos no tienen por finalidad
última producir placer. Palabras y pensamientos están al servicio
de la realidad, de la verdad teórica y práctica, y en definitiva
del hombre y de su  <U><B>comunicación social.</B></U></FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Producto del hombre y
de la comunidad, las palabras están a su servicio. Por ello la
palabra exterior y el pensamiento le interesan en cuanto descubren la
realidad física, personal, social y posibilitan el diálogo
comunicativo de esa realidad.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	La palabra exterior es
instrumento de comunicación de los sentimientos y pensamientos. Es
el vehículo para trasladar a los demás la palabra interior y con
ésta la realidad. Es la traducción del pensamiento y por
consiguiente realidad, de quien habla o escribe a quien oye o lee. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Pero la palabra
interior no pasa inmediatamente de mi entendimiento a mi boca sino
que atraviesa mi imaginación, que la dibuja y figura interiormente
en imagen sensible a la vez que da movimiento y color a esa palabra
interior.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Así, dibujada y
figurada, viva y coloreada nuevamente, se imagina en el oyente o
lector y penetra en su entendimiento, razón, corazón. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	La palabra exterior,
animada por la interior, es así expresión de esa unidad sustantiva
de cuerpo y espíritu que es cada hombre, y que produce el
maravilloso efecto de la comunicación entre los hombres. </FONT></FONT>
</P>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>Corrupción de la
palabra</B></U></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>	</B>Platón
sostenía respecto de los sofistas, que usaban la palabra corrupta.
Pero, ¿qué significa corrupción de la palabra? Sólo se podrá
responder a esta pregunta si tiene una idea  de lo que da dignidad y
prestancia a la palabra, en el conjunto de la existencia, idea que no
se trata tanto de conocer como de reconocer, que no es tanto un
concepto abstracto como una concepción existencial.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	La conquista de la
palabra humana es, por naturaleza, ambivalente y por ello es de
presumir que la palabra pude corromperse de un doble modo, a saber:</FONT></FONT></P>
<OL>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
	<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El primer valor de la
	palabra es que en ella se hace patente la realidad; se habla, para
	dar a conocer, al nombrarlo, algo real; </FONT></FONT>
	</P>
	<LI><P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
	 <FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es darlo a conocer a
	alguien por supuesto. Es decir el carácter comunicativo de la
	palabra.</FONT></FONT></P>
</OL>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La palabra es tanto un
signo objetivo como un signo para alguien, para aquel precisamente
ante quien se expone la realidad. Esos dos aspectos de la palabra y
el lenguaje, aunque distinguibles no son separables. No se da uno sin
el otro. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Quien habla quiere
comunicar, pero ¿ qué otra cosa podría uno comunicar a otro sino
las cosas tal como son?. Por supuesto el hombre es capaz de mentir.
Pero la mentira, ¿es en sentido estricto una comunicación, ya que
aquél a quién se miente sólo en apariencia participa de la
realidad?</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Por tanto, corrupción
de la relación con la realidad y corrupción del carácter
comunicativo, son las dos formas posibles de corrupción de la
palabra.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Ello es lo que Sócrates
le imputa a la retórica sofista.</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; line-height: 150%">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>Lenguaje como
instrumento de poder</B></U></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Cuando se usa la
palabra y no se conduce y expresa a través de ella, conscientemente,
conforme al objeto mentado por ella<U><B>,</B></U><B> </B><I><U><B>cesa
ipso facto de comunicar realmente algo</B></U></I>: el carácter
comunicativo del lenguaje, citado en el párrafo anterior, no sólo
se constituye al mismo tiempo que la relación con la realidad, sino
que es destruido juntamente con ella.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Ahora bién, ¿cómo
puede en ese momento y necesariamente convertirse la palabra en
instrumento de poder? ¿ No significa esto que de un momento a otro
la relación humana entre quienes hablan, o entre quien habla y quien
escucha, se ha modificado? Ciertamente es lo que de hecho ocurre;
quien se dirige a otro con una verbosidad espontánea e inocua,
manipulando conscientemente la palabra, quien así habla y no se
ocupa de la verdad<U>, no trata al otro como igual, no le respeta
propiamente como persona humana, cesando en dicho momento el diálogo
o la conversación.</U></FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	<I>Por ello, el lúcido
Sócrates alude  a la adulación. Es decir el otro a quien hablo para
agradar, no es en modo alguno un igual, un sujeto, es más bien como
un objeto, el objeto de un intento de apoderamiento, el objeto
sometido a la manipulación. La dignidad del que escucha es
sencillamente ignorada, pero además cesa la comunicación y se
produce una conversación sin interlocutor, que en contradicción con
lo que es el lenguaje, no dice nada.</I></FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I>	La palabra se
desnaturaliza, y se degrada en “agente químico”, en droga que se
suministra; se ha convertido en simple medio, como un aparato o un
requisito. ¿ Instrumento de poder?  No estamos tan lejos.</I></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Atento a ello, es
evidente que crece el peligro de corrupción conforme se hace más
tentadora la posibilidad de éxito. Pero se encuentra en peligro por
ello, no sólo un sector particular, sino la vida social misma de los
hombres, y la comunicación social que se realiza necesariamente por
medio de la palabra. Nos amenaza la ruina de la comunicación y el
hacerse públicamente irreconocibles la realidad y la verdad.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Ahora bien, entre los
elementos de su peligrosidad, se destaca la tendencia al
enmascaramiento, es decir su no evidencia. Y aquí abreva la falsa
comunicación humana o social, verdadera incomunicación, signo de la
posmodernidad.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Platón ha dicho que
la dificultad de reconocer a los sofistas, es precisamente parte de
su éxito. Y por ello en lugar de una auténtica comunicación –
aquí se produce una suerte de relación de poder, no basado en una
superioridad real, y al que corresponde,  una dependencia no fundada
en la realidad -  más bien debería llamarse “esclavitud”.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Hay un viejo proverbio
que dice <I>“la corrupción de lo mejor es la peor corrupción,
quien habla de lo malo debe tener una idea de lo bueno”.</I></FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	De todo ello,
deducimos que el bien del hombre y una existencia humana  llena de
sentido, consisten en ver las cosas, en la medida de lo posible como
son y vivir y obrar partiendo de la verdad captada.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	El hombre se alimenta
sobre todo de la verdad, es un derecho natural, es además una
tendencia natural, no sólo del científico, o del filósofo, sino de
todo aquel que pretende vivir de la verdad públicamente presente.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	El emplazamiento
natural de la verdad es el diálogo entre los hombres; la verdad
acontece en el diálogo, en la discusión, en la conversación, en el
lenguaje y por tanto en la palabra, como instrumento de la
comunicación  social.  Y como es un derecho natural, tenemos
entonces el nexo que aludimos al principio, la palabra y por ende la
verdad como objetivos absolutos interconectados.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-right: 0.33in; font-weight: medium; text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Agradezco la atención
que me han brindado, y estoy  a disposición de Uds. para cualquier
ampliación o pregunta, que trataré humildemente de contestar.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<BR>
</P>
<DIV ID="sdfootnote1">
	<P LANG="es-AR" CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote1sym" HREF="#sdfootnote1anc">1</A>
	Jenofonte, <I><B>“Memorables</B></I>” IV, 4, 12</P>
</DIV>
<DIV ID="sdfootnote2">
	<P LANG="es-AR" CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote2sym" HREF="#sdfootnote2anc">2</A>
	Summa Theológica, 1-2, q. 90-108 y 2-2, q.57-59, T. VIII, Edición
	B.A.C. Madrid 1956, pag. 232 y sig.</P>
</DIV>
<DIV ID="sdfootnote3">
	<P LANG="es-AR" CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote3sym" HREF="#sdfootnote3anc">3</A>
	Summa Theológica, 2-2, q. 57, a. 3, ob.cit, pag. 237</P>
</DIV>
</div>
<div  class="textoNota">Nota: Cualquier cita referida a estos contenidos, debe mencionar la fuente.</div>

