<div class="divMiddle">
<P LANG="es-AR"  ALIGN=CENTER><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><strong>Exposición
en SITA, Sociedad Internacional Tomás de Aquino, Mar del Plata, el
18 de Junio de 2005, sobre “Cristianismo primitivo y paideia
griega” de Werner Jaeger.</strong></FONT></FONT></P>

<P  ALIGN=Right STYLE="text-decoration: none" LANG="es-AR"><strong>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Dr. Horacio F. Caruso</FONT></FONT></strong></P>
<P  ALIGN=RIGHT STYLE="text-decoration: none" LANG="es-AR">&nbsp;</P>
<P  ALIGN=JUSTIFY STYLE="text-decoration: none" LANG="es-AR"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El autor que muere en
  Octubre de 1961, a los 73 años, escribió este libro de la
  recopilación de conferencias que dio en la Universidad de Harvard,
  en 1960.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Si bien no pudo
realizar una obra más extensa, como era su deseo, para dar
testimonio de sus estudios sobre  la transformación de la tradición
de la <I>paideia griega, </I>durante los primeros siglos cristianos,
ha logrado no obstante, dar una imagen acabada en esta obra que
comentamos,  de lo que aconteció en aquellos tiempos, sobre todo por
los descubrimientos orientales de los rollos del Mar Muerto y los
escritos gnósticos encontrados en Nag-Hammadi (Alto Egipto).</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	El autor hace su
análisis, en forma concreta sobre el cristianismo en relación con
la cultura griega. Ello no significa que compare el espíritu griego
- como se manifiestan en las tragedias de Sófocles o en el Partenón
- con el espíritu del cristianismo.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Friedrich Nietzsche,
su contemporáneo más joven, que era hijo de un ministro protestante
y apóstol ferviente de Dionisos, llevó la comparación al extremo y
concluyó convirtiéndose en el misionero del Anticristo.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Contrariamente,
Jaeger, se refiere a la cultura griega tal como era al momento de
aparecer la religión cristiana, y del encuentro de estos dos mundos
durante los primeros siglos de nuestra era.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Por supuesto, de los
factores que determinaron la forma final de la tradición cristiana,
la civilización griega ejerció una profunda influencia en la mente
cristiana.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Cita nuestro autor a
Adolf von Harnack, quien muestra el efecto que la filosofía griega
ha tenido sobre la doctrina cristiana, y los teólogos que le
siguieron de la misma escuela, señalan el elemento griego en los
libros bíblicos mismos, en especial el Nuevo Testamento.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Testimonio de esto, es
el efecto directo de la filosofía griega sobre todo en San Pablo, y
si bien no ha sido demostrado aún por ejemplo, como influyó Séneca
sobre San Pablo, el autor le da visos de realidad a la luz de lo que
relatamos en esta exposición.</FONT></FONT></P>
<P LANG="es-AR" STYLE="font-weight: medium; text-decoration: none"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Los
rollos del Mar Muerto, han arrojado nueva luz sobre ese periodo de la
religión judía y se han trazado paralelos entre la piedad ascética
de la secta religiosa que vivía a orillas de dicho mar y el mensaje
mesiánico de Jesús. Hay algunas semejanzas notables aunque salta
una gran diferencia, cual es el hecho de que el<I> </I><I><B>kerigma
cristiano</B></I> (predicación primitiva de los apóstoles) no se
detuvo en el Mar Muerto, ni en la frontera de Judea, sino que superó
su exclusión y aislamiento y penetró en el mundo dominado por la
civilización y lengua griegas.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Ello, marcó un hecho
decisivo en el desarrollo de la misión cristiana para su expansión
por Palestina y más allá, proceso precedido por tres siglos de
expansión mundial de la civilización griega durante el periodo
helenista, no tenido en cuenta durante mucho tiempo por los eruditos
clásicos que se negaban a mirar más allá de la edad griega
clásica.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Sin embargo, sostiene
Droysen, citado por Jaeger, el cristianismo surge del helenismo.</FONT></FONT></P>
<P LANG="es-AR" STYLE="font-weight: medium; text-decoration: none"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Lo
sostiene nuestro autor también, afirmando que el proceso de
cristianización del mundo de habla griega dentro del Imperio Romano,
no fue de ningún modo unilateral, sino que significó a la vez la
helenización del cristianismo. Pero hay que especificar un poco el
concepto de  helenización.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	El término proviene
del sustantivo griego<I> Hellenismos</I>, derivado del verbo
<I>Hellenizo</I>, que significa “hablar griego”, es decir el uso
correcto de la lengua griega. Los primeros en usar este término,
parece que fueron los maestros de la retórica. Teofrasto  siguiendo
a su maestro Aristóteles, hizo de la retórica parte de su enseñanza
en el Liceo, construyendo su teoría acerca del estilo perfecto sobre
cinco partes que llamó <I>“las virtudes (aretai) de la dicción”.
</I>La primera de ellas, que es la principal, era el <I>hellenismos,
</I>es decir un uso gramatical correcto del griego.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Con el uso del griego
penetra en el pensamiento cristiano todo un mundo de conceptos,
categorías intelectuales, metáforas, etc., y su explicación de la
rápida asimilación de las primeras generaciones cristianas es: <B>1°)</B>
que el cristianismo era un movimiento judío y los judíos estaban ya
helenizados en tiempos de San Pablo, no sólo los judíos de la
Diáspora, sino también los de Palestina misma y <B>2°)</B> que
fuera precisamente esta porción helenizada del pueblo judío hacia
la que se volvieran en primer lugar los misioneros cristianos.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Fue esta comunidad
apostólica de Jerusalén, llamada “helenistas”, tal como se cita
en el <B>capítulo VI de los Hechos de los Apóstoles</B>, la que
tras el martirio de su jefe, Esteban, se dispersó por toda Palestina
e inició las actividades misionales de la generación siguiente.
(Leer la historia en pag. 238, Los primeros diáconos,  Nuevo
Testamento).</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Cabe mencionar, que en
este capítulo aparece la palabra <I>“helenistas”, en
contraposición de la palabra “hebreo”, </I>aunque no significa
griego,  término que en el Nuevo Testamento se aplica a los
gentiles. Es más bien el término oficial para el elemento de habla
griega entre los judíos, y en consecuencia se aplica también a la
primera comunidad cristiana de Jerusalén, en la época de los
Apóstoles.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Los que se
convirtieron al cristianismo tenían sus propias sinagogas helenistas
en Jerusalén, y así  encontramos a un helenista cristiano como
Esteban.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Se relatan en Hechos
VI, 9,  la existencia de sinagogas de los libertos, los cirenenses y
los alejandrinos, los de  Cilicia y de Asia.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Debe puntualizarse,
según nuestro autor, que los helenistas, formaban una minoría cada
vez más fuerte en la comunidad apostólica, sobre todo porque se
empeñaban en tener sus propios representantes de habla griega en la
distribución diaria de comida y ayuda a las viudas. Obtuvieron una
concesión muy importante de los 12 Apóstoles, como fue el nuevo
oficio de diáconos. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Como los primeros
diáconos enumerados en Hechos VI,5, tienen todos nombres griegos,
parece evidente que eran representantes especiales de los miembros de
 habla griega de la comunidad.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	<B>Diáconos</B>: del
griego <I>diakonos = servidor. Entre los católicos,  aquel que ha
recibido la orden inmediatamente inferior al sacerdocio. </I>A fines
de la época apostólica, los diáconos encargados especialmente de
las obras de caridad (ver en Hechos, el tema de las viudas) existían,
al parecer en todas las iglesias. Su función aumentó cada vez más
en importancia, conforme aumentaban las cargas de las comunidades y
sus bienes. No obstante, poco a poco, las funciones de los diáconos
fueron ejercidas por sacerdotes, y el diácono se convirtió
simplemente  en un escalón para alcanzar el sacerdocio. Paulo VI, en
1963, restableció el diaconato permanente en Occidente, al que
pueden acceder hombres solteros mayores de 25 años y hombres casados
mayores de 35 años.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Dichos diáconos,
llamados Esteban (Stephanos), Felipe (Philippos), Nicanor, Prócoro,
Timón, Pármenas, Nicolás (Nikolaos), pertenecían en su mayoría a
familias que habían sido helenizadas una o más generaciones
anteriores. Solo Nicolás no era judío de nacimiento, había sido
prosélito en Antioquía antes de su conversión al cristianismo
(Hechos VI,5).</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	 El nombre de la nueva
secta se denominó <I><B>christianoi, </B></I>que tuvo su origen en
la ciudad griega de Antioquía, ciudad donde estos judíos helenistas
encontraron el primer campo de actividad para su misión
cristiana.(ver Hechos XI, 26).</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	<B>Antioquía</B>
fundada en 301 a.C. por Seleuco I fue, durante el reinado de Antioco
I, capital del imperio seléucida y uno de los centros intelectuales
y económicos de la época helenística. Pompeyo la convirtió en
capital de la provincia romana de Siria (64 a.C.). Evangelizada desde
el siglo I, fue un importante centro cristiano con la célebre
escuela de Antioquía, que ilustraron nombres como Juan Crisóstomo y
Teodoro de Mopsuesta. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La invasión de los
persas sasánidas (540) y la conquista árabe (636) pusieron fin a su
apogeo. En 1084 cayó ante el poder de los selyúcidas y en 1098 fue
recuperada por los cruzados (principado de Antioquía). Ocupada por
los mamelucos (1268) luego pasó a pertenecer al dominio otomano
(1517). Puesta bajo el mandato de Francia (1920) fue restituida a
Turquía en 1939.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	El griego era hablado
en todas las sinagogas de las ciudades mediterráneas, como se puede
comprobar con Filón de Alejandría, quien no escribía su griego
pulido para ser leído por los gentiles, sino que lo destinaba a sus
compatriotas judíos cultos.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Nunca se hubiera
formado un grupo de prosélitos gentiles si estos no hubieran podido
ser capaces de entender el idioma utilizado en el culto judío de las
sinagogas de la Diáspora.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Toda la actividad
misional de Pablo, se basa en ese hecho. Sus discusiones con los
judíos en sus frecuentes viajes para llevar el Evangelio de Cristo,
se hacían en griego y con la lógica griega. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Destaca Jaeger que los
escritores cristianos de la edad apostólica, usaron las formas
literarias griegas de la “epístola”( del griego epistolé,
composición poética en forma de carta, cuyo fin es moralizar,
instruir o satirizar), según el modelo de los filósofos griegos y
de los “hechos” o “praxeis”, actos y doctrinas de hombres
sabios o famosos contadas por sus discípulos.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	En la edad de los
Padres apostólicos, el desarrollo posterior  de la literatura
cristiana, añadió otros tipos como la “didaqué”, el
“Apocalipsis” y el sermón, siendo éste último una modificación
de la “diatribe” y “dialexis” de la filosofía popular
griega.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Traza el autor también
un paralelismo entre los folletos religiosos que existían en la
época helenista y que servían como medio de propaganda fides a
muchas sectas, con los folletos órficos que cita Platón y que eran
distribuidos  por los profetas errantes de Museo y Orfeo, de casa en
casa.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Relata Platón en
República II, 364 e, que esos profetas asediaban las casas de los
ricos a fin de hacer conversos de su secta, dándoles instrucción
acerca de los encantamientos y sacrificios por medio de los cuales
podían obtener  la absolución de sus faltas o las de sus
antepasados.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Las diversas escuelas
trataban de lograr nuevos seguidores por medio de discursos en los
que recomendaban su conocimiento filosófico o dogma como única
salida hacia la felicidad.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Encontramos este tipo
de elocuencia por primera vez en la enseñanza de los sofistas
griegos y en la de Sócrates, tal como aparece en los diálogos de
Platón (ver Eutidemo). </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Es más, la palabra
conversión está tomada de Platón, para quien la aceptación de una
filosofía significaba en primer término, un cambio de vida.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Aún cuando su
aceptación tenía motivos diferentes, la kerygma cristiana hablaba
de la ignorancia de los hombres, prometía darles un conocimiento
mejor y como todas las filosofías, hacía referencia a un maestro
que poseía y revelaba la verdad. Es decir vemos los paralelismos que
existían entre los filósofos griegos y los misioneros cristianos, a
la luz de que los sistemas filosóficos de la edad del helenismo eran
para sus seguidores un refugio espiritual.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Así, los misioneros
cristianos siguieron sus huellas y si confiaron en los relatos de los
Hechos de los Apóstoles;  a veces tomaron prestados argumentos de
sus predecesores para dirigirse a un auditorio griego y culto.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Aquí nos aproximamos
al momento del encuentro de griegos y cristianos. El autor de los
Hechos (Lucas) lo vio claramente cuando relata su visita del apóstol
Pablo a Atenas, centro intelectual y cultural del mundo griego, y su
sermón en ese lugar venerable el Areópago =( arés nombre de un
dios y pagos colina. Colina de Atenas al O. de la Acrópolis. También
consejo y audiencia criminal que tenía su sede en ella. Irónicamente
se designa así aun grupo de personas a quienes se atribuye un
predominio o autoridad), ante un auditorio de filósofos estoicos y
epicúreos a los que les habla del Dios desconocido.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Lucas nos relata en
Hechos XVII, 17 y sigtes que Pablo habló a los judíos y prosélitos
de Atenas, en la sinagoga, pero se dirigió a los gentiles en el
Areópago, y si bien se menciona brevemente lo primero, es destacado
claramente la diatriba en el segundo, que indica una nueva situación
cuando el gran guía del cristianismo, helenista y antiguo judío él
mismo, se encamina hacia la meta final del cristianismo: el mundo
griego clásico.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	Ya sea que la escena
relatada, sea resaltable como hecho histórico, lo cierto es que aún
habiendo querido dramatizar dicho hecho histórico, y por medio de
ello mostrar el inicio de la lucha intelectual entre el cristianismo
y el mundo clásico, la forma de tratar el tema por parte de Lucas
(que acompañó a Pablo a partir del año 50), debe interpretarse
como que San Pablo escogió como base la tradición filosófica
griega, para su misión. Es decir, se pone en evidencia la intención
del apóstol de hacer aparecer al cristianismo como una continuación
de la paideia griega clásica, lo que haría que su aceptación fuese
lógica para quienes poseían la antigua. A la vez implica que la
paideia clásica está siendo superada, pues Cristo es el centro de
una cultura nueva. Así, la paideia antigua se convierte en un
instrumento.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=justify STYLE="font-weight: medium;  text-decoration: none">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>	San Pablo muere en la
década 6/7 del siglo I, y según Jaeger el documento literario más
antiguo de la religión cristiana, al que es posible fijar una fecha
poco posterior al tiempo de los apóstoles es la Carta de San
Clemente Romano a los corintios, escrita en la última década del
siglo primero (año 80/90), es decir 20/30 años luego de la muerte
de San Pablo.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="font-weight: medium;  text-decoration: none"></P>
</div>
<div  class="textoNota">Nota: Cualquier cita referida a estos contenidos, debe mencionar la fuente.</div>
