<div class="divMiddle texto">
<P LANG="es-AR" ALIGN=CENTER>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>RECENSIÓN DEL
DR. HORACIO F. CARUSO</B></U></FONT></FONT></P>

<P LANG="es-AR" ALIGN=CENTER>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>La Deuda Externa
y el desguace del Estado Nacional</B></U></FONT></FONT></P>

<P LANG="es-AR" ALIGN=RIGHT>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>SALVADOR MARIA LOZADA</FONT></FONT></P>
<P LANG="es-AR" ALIGN=RIGHT >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Ediciones Jurídicas de
Cuyo</FONT></FONT></P>
<P LANG="es-AR" ALIGN=RIGHT >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Abril de 2002</FONT></FONT></P>
<P LANG="es-AR" ALIGN=RIGHT >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>264 páginas</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY >
“<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I><B>Percibir
interés por un préstamo monetario es injusto en sí mismo, porque
implica la venta de lo que no existe, con lo que manifiestamente se
produce una igualdad contraria a la justicia”</B></I></FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><I><B>Santo Tomás,
II-IV-78, 1, C.</B></I></FONT></FONT></P>

<H1 LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>INTRODUCCION</B></FONT></FONT></H1>

<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La obra en comentario
produce  una mezcla de sensaciones que permiten por un lado ponderar
positivamente lo relativo a la información volcada sobre la deuda
externa argentina, si bien desde sus efectos, con una correcta
descripción de los mismos ubicados en el adecuado ámbito temporal,
pero que sin embargo al entrar en la descripción de las causas
obliga a ponderar negativamente su pertinacia en adjudicar la
responsabilidad del endeudamiento argentino “a la dictadura
criminosa de los años 70/80”.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Si bien la condición
de ex juez del autor nos pone a salvo de cualquier carencia de
equilibrio en las ponderaciones, no obstante su también condición
de expulsado de la Universidad de Buenos Aires en 1976, por el
gobierno militar, donde era profesor titular ordinario de la Facultad
de Ciencias Económicas, como cita en la página 233, resulta difícil
separar en la obra,  los aspectos propios de la deuda externa
argentina con sus causas y efectos, de la prédica deslegitimante
hacia las Fuerzas Armadas de la República, si le reconocemos a las
mismas el rango de instituciones representativas de un sector de la
sociedad, como pueden ser el sector financiero,  o el sector
industrial, o el poderoso sector de la comunicación etc., aunque es
innegable mal pese a sus detractores, que el peso de su historia en
el nacimiento de nuestra nacionalidad y gestas posteriores, les da un
plus que no cuentan los otros sectores.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Creemos que resulta
interesante, en éste contexto, incursionar en los aspectos más
sobresalientes de la obra  con  relación a lo mencionado en el
párrafo anterior,  tratando de centrarnos  no tanto en  la deuda
externa, de la cual se realiza una evaluación correcta que
compartimos, sino en la recurrente y a veces no tan sutil
persistencia en responsabilizar a las instituciones armadas del pais,
de todo lo que nos pasa con relación  a  dicho tema.</FONT></FONT></P>

<H2 LANG="es-AR"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>DISCREPANCIAS.
OLMOS</FONT></FONT></H2>

<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Así, en la página 37
se cita la opinión del autor en el sentido de que “las dos fuentes
principales del carácter dependiente de las democracias en
transicíón  son: 1°)  el compromiso de pagar la deuda externa
contraida durante las dictaduras militares y 2°) no reducir el poder
militar que ha sostenido a la dictadura y que permanece como fuerza
vigilante para impedir el cambio de las estructuras socio-económicas
del pais”.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>No resulta fácil
compartir este criterio. En primer lugar el proceso militar entregó
a la democracia una deuda que  rondaba en los  35.695  millones de
dólares, de los cuales la suma de  dls 20.024 millones correspondía
al sector público y dls. 15.671 millones al sector privado. En el
año 1976, la deuda total era de dls. 8.085 millones de los cuales
dls 4941 millones se le asignaba al sector público y dls. 3.144
millones al privado, por lo cual siguiendo la fuente de la causa
“Olmos”, tenemos que el crecimiento del sector público fue de
dls. 15.083 millones, habiéndose destinado aproximadamente dls. 5000
millones al equipamiento por la gesta de Malvinas y dls 7.504
millones para el pago de los servicios de la deuda, correspondiendo
el resto a remesas del sistema bancario etc.                       Es
decir la gran debacle vino con el endeudamiento privado y su
posterior nacionalización, si observamos que según dichas cifras,
el sector creció de dls. 3.l44 millones a dls. 15.671 millones, es
decir ya en 1982, su incremento fue de dls. 12.257 miillones, luego
pasados a la comunidad como por arte de magia. Nótese sin embargo, y
siguiendo la misma fuente, nuestras reservas a marzo de 1982,
ascendían a dls. 3.877 millones, es decir casi el 20% de la deuda
externa, por lo cual si traspolamos tal porcentaje a la actualidad
deberíamos tener en reservas dls. 29.000 millones, y no cerca de
9.000 millones como  registramos hoy.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
 <FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Pero además si
tenemos la obligación y  la capacidad de separar por un lado,  el
resultado lamentable de la desaparición de personas y muertos en la
lucha antisubversiva, producto de una guerra declarada, según el
famoso decreto de “aniquilamiento” emanado de un gobierno civil
legítimamente constituido,  sin dejar de reconocer por ello que se
avanzó más allá de lo lícito y por tanto con excesos,  y por el
otro las nefastas consecuencias de nuestra deuda externa,  hubo por
lo menos en aquellos años,  presencia de un Estado que reforzó sus
estructuras por vía de grandes obras que aún perduran y que no
pudieron ser eliminadas físicamente por la clásica política
neoliberal de privatizar  todo, aún los aspectos más sensibles que
redundaron en la reducción del mismo Estado, hasta su desaparición,
 como puede verificarse con respecto a las grandes políticas
nacionales, llámese educación, seguridad, trabajo, salud y porque
no también política militar. Lo que no pudo ser privatizado, fue
eliminado, v.gr el proyecto Cóndor, o nuestra Comisión Nacional de
Energía Atómica; baste ver las dificultades entonces de las
instituciones armadas, no ya de desarrollo, sino operativas en  todo
sentido, para concluir que el punto  2° de su afirmación, por lo
menos resulta no verosímil.</FONT></FONT></P>

<H2 LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>LA
ACTUALIDAD RECURRENTE</FONT></FONT></H2>

<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Las condiciones de
nuestras fuerzas armadas hoy no permiten cumplir, sino con demasiadas
limitaciones presupuestarias, la manda constitucional de defender la
soberanía, como tampoco  con los demás derechos inalienables en lo
que a ellas concierne, que tambíen son enunciados en nuestra Carta
Magna, pero que nos resulta difícil sustraerlos de su condición de
declarativos y pasarlos a  revestir como operativos.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Respecto del compromiso
de pagar la deuda externa contraida durante el proceso militar,
tampoco debería tomarse como una fuente de dependencia, según reza
el punto 1°, habida cuenta que la porción de deuda contraida hasta
1983, podrá calificarse axiológicamente según desde que ángulo
político se la mire, pero lo cierto es que sabemos cuánto fue y en
qué se utilizó, no obstante provenir de un gobierno militar.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En efecto, gracias al
patriota Olmos, aludido muy poco en el libro,  pudo enterarse la
sociedad argentina como fue contraida dicha porción de deuda,
resultando que las instituciones armadas per sé poco tuvieron que
ver, comparado con las instituciones civiles y aún con los mismos
civiles que realizaron actos de despojo y dolosos contra el país,
como fueron los autopréstamos, las sobre y sub-facturaciones en el
comercio exterior, la remesa de utilidades con re-entrada como
préstamos, la fuga de capitales,  etc. y ni mencionar a los expertos
y “patriotas” economistas que pergeñaron los distintos planes
económicos al servicio de nuestros acreedores, incluido las
diferentes renegociaciones de deuda llevadas adelante por más de 20
años por una misma persona, a la sazón en sus horas libres,
conspicuo miembro de organismos internacionales acreedores.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Cabe remitirse en este
aspecto a la práctica procesal que enseña que no hay mejor prueba
que aquella que sobreviene al proceso, por el accionar del acusado y
que muestra cuál era la verdad material, sobre todo luego de haber
finalizado el mismo. Así, tenemos lo sucedido luego del proceso
militar, en plenas democracias, que no es lo mismo que democracias
plenas, donde se ha incurrido en los mismos delitos contra la Patria,
en forma inverterada y se sigue aún hoy con el mismo actuar
delictivo. Baste recordar que desde Febrero de 2001 a  Febrero de
2002, se remitieron  fuera del país cerca de 22.000 millones de
dólares, y que paradógicamente se pretendió justificar desde el 
gobierno de turno, de corte progresista-aliancista dicho sea de paso,
con el argumento  de que por los menos hasta el 30 de Noviembre ppdo,
 era “lícito” remesar dicho monto al exterior. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Si comparamos con lo
sucedido en el periodo 1976/1983 los hechos aludidos son de una mayor
gravedad, sobre todo porque fueron convalidados por una cesión de
poderes del Congreso al P. Ejecutivo, lo que nos lleva a considerar 
que se ha licuado por los actos posteriores, la diferencia entre un
gobierno democrático y  un gobierno de facto, por lo menos en  ésta
materia. Y en esto no intervinieron las instituciones armadas.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En la misma línea de
pensamiento, el autor menciona en  página 39, capítulo titulado
“Modelo Transicional”, que parece “haber habido una suerte de
esquema inducido desde afuera para regir el paso de las criminosas
dictaduras latinoamericanas de los años 70/80, a una suerte de
democracia limitada y eventualmente castrada, celosamente vigiladas e
inducidas por las administraciones norteamericanas de los años 80/90
que han estado virando hacia cierta especie de democracia, conforme a
un patrón dirigido por las potencias hegemónicas...”, lo cual
podemos llegar a compartir ampliamente, pero siempre destacando que
fueron los sobrevinientes gobiernos democráticos los que se
prestaron a ello, a un precio que aún por la magnitud de la crísis
que estamos atravesando, es de difícil pronóstico.</FONT></FONT></P>

<H2 LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>LA
SEGURIDAD NACIONAL</FONT></FONT></H2>

<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Sigue el autor con su
línea de pensamiento, que nos genera la sensación contradictoria 
referida al comienzo de nuestro artículo, al mencionar en la página
 40/41, luego de asignarle al esquema transicional de gobierrno
militar a gobierno democrático, primariamente un compromiso
insoslayable de tales democracias de pagar los servicios de la deuda,
con el consabido anatocismo y aumento subsiguiente de la misma deuda,
es decir sin ingreso de dinero fresco, seguido luego en forma
complementaria con  “ la intangibilidad  del poder militar, que
queda preservado como guardián del limitado experimento democrático”
o bien que . ......” de ello se deriva una política militar que no
se atreve a enfrentar los problemas cruciales y se resiste a
transformar las fuerzas armadas – frecuentemente el instrumento
despótico del statu quo local y de sus protectores y mentores
imperialistas- en un genuino recurso estatal de gobierno civil ”.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Fácil resulta rebatir
tales conceptos, si se tiene en cuenta que nunca como antes las
Fuerzas Armadas, como instituciones,  se han subordinado al poder
civil, a tal punto que frente al tremendo caos que venimos viviendo
luego de la experiencia de los 5 presidentes hasta nuestros días,
han permanecido en  posición de dignidad sin por ello estar ausente
de lo que acontece y colaborando con el poder civil a su
requerimiento y según las leyes que emanan del plexo normativo de la
República, comenzando por la Constitución Nacional. Lejos entonces
el papel que el autor les asigna de guardián del experimento
democrático, y menos que se resistan  a transformarse en un guinuino
recurso estatal, toda vez que no hay otra instituciónes de la
República que hayan realizado transformaciones tan  profundas en su
actividad, comparado con los años 70/80.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En la constante prédica
de los sectores progresistas de la comunidad, legítimos por cierto,
se incurre también en la falsa y “temerosa” ideología de la
seguridad nacional, tal como lo expresa el autor en página 118 y
sig. donde insinúa que en la agenda de la comisión de defensa de la
Cámara de Diputados, fue incluido por su presidente Jaunarena el
tema de la “indisciplina social” como problema  producido por la
pobreza extrema de grandes sectores de la comunidad, cuando en <I>el
año 2000</I>, era ministro de defensa Lopez Murphy. ( La letra
cursiva es nuestra)</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>A la luz de la siempre
remisión a los hechos y actos posteriores reveladores, no es acaso
lo que está aconteciendo actualmente?, no se están agrupando
distintas fuerzas de seguridad bajo un comando unificado para el
combate del delito, con el argumento de la pobreza?, y más allá de
los escasos resultados no es un problema de seguridad nacional? No
hay acaso sugerencias, provenientes del ámbito civil de  incluir a
las fuerzas armadas en la represión del delito?</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es decir, sería
positivo cesar con el carácter peyorativo del término, habida
cuenta que todos los países tienen un sistema de seguridad nacional,
comenzando por la primera potencia del mundo, sin que por ello
signifique por cierto, incursionar en actividades que tengan por
función restringir o cercenar las libertades de las personas.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Menos mal que las
iniciativas de tales planteos es llevada adelante por los sectores
políticos de la comunidad, que gozan mal o bien de la
“representatividad” anhelada, y no por las instituciones armadas,
subordinadas al poder político. O acaso el sistema penal garantista
hoy vigente, no ha sido instaurado por los legisladores
representantes del pueblo?. Caso polémico este último si los hay,
dado que sería más ajustado llamar  defensista en lugar de
garantista al sistema vigente, toda vez que los jueces aún con el
sistema anterior, siempre respetaron las garantías constitucionales,
sopena de enfrentar las consabidas nulidades.</FONT></FONT></P>
<P LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Desde
otro ángulo, no podemos sino compartir las afirmaciones referidas
exclusivamente a la deuda externa argentina, con abundante referencia
a la opinión de nuestro Papa, del sínodo de obispos europeos de
octubre de 1999, del Jubileo 2000, de organizaciones internacionales
dedicadas al tema, y fundamentalmente al movimiento destinado a poner
en vigencia la doctrina Espeche, para llevar la cuestión al seno de
la Corte Internacional de Justicia.</FONT></FONT></P>

<P LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>FINAL
 </B></FONT></FONT>
</P>

<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Conclusión: libro
interesante pero polémico, que por su excesiva inclinación hacia la
denostación de las Fuerzas Armadas pierde objetividad, no obstante
dejar de reconocer que para otros lectores inclinados hacia el mismo
pensamiento, puede resultar atractivo.  </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Reflexión final: desde
nuestro pensamiento nacional cristiano, fácil resulta advertir que
de la debacle moral en que se halla sumida nuestra Patria, surgen dos
instituciones como garantías del mantenimiento de nuestra
integración como sociedad, la Iglesia y las Fuerzas Armadas, aún
“machucadas”,  por lo menos hasta que el resto de las
instituciones representativas del quehacer político, logren erigirse
en fieles y confiables representantes de la voluntad popular.  No
obstante si bien aludimos a las instituciones como tal, es sabido que
coexisten como en todas ellas,  personas que a veces no están a la
altura de las mismas, lo cual no invalida su existencia, relevancia e
importancia para la comunidad.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Asimismo resulta
contradictorio que el sentimiento de nacionalismo que ciertos
sectores propugnan hoy como resultante de la pobreza e indignidad que
sufren nuestros conciudadanos, pretenda dejar afuera a una de las
instituciones madre del despertar nacional, en el ámbito terrenal,
sin dejar de reconocer por cierto que en el ámbito religioso, con
extensión generalizada entre los fieles,  la moral que sustenta la
República desde su Preámbulo y Constitución, es naturalmente la
moral católica, mal que le pese a alguno.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=RIGHT >
 
</P>
<P LANG="es-AR" ALIGN=RIGHT >
 <FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>Dr. Horacio F.
Caruso</B></FONT></FONT></P>
</div>
<div  class="textoNota">Nota: Cualquier cita referida a estos contenidos, debe mencionar la fuente.</div>
