<div class="divMiddle">
<strong>
<H1 LANG="es-AR"  ALIGN=CENTER>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>ARGENTINA Y EL TUNEL DEL TIEMPO</FONT></FONT></H1>
<H1 LANG="es-AR"  ALIGN=CENTER> <FONT FACE="Verdana, sans-serif"><FONT SIZE=2>CRISIS DEL AÑO 2001</FONT></FONT></H1>

<H1 LANG="es-AR"  ALIGN=CENTER>
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Conferencia en el
Instituto de Filosofía del Derecho-Universidad FASTA. Mar del Plata,
15 de Agosto de 2002</FONT></FONT></H1></strong>

<P  ALIGN=RIGHT LANG="es-AR"><strong><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Dr.
Horacio F. Caruso</FONT></FONT></strong></P>

<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Los
hechos intensos que hemos vivido en nuestra patria en  los ultimos
tiempos, permite afirmar en algunos ambitos  vinculados a la
comunicación y en forma peyorativa, que hemos ingresado en el túnel
del tiempo, volviendo a 1945.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Permitaseme
disentir con ello, toda vez que en realidad Argentina nunca salió 
de dicho túnel.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Basta
conocer nuestra historia, para darnos cuenta que seguimos como en
1816 y no como en 1945.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Qué
ha cambiado en el sistema financiero argentino respecto de aquéllas
épocas?... Veamos, en 1822 se crea el primer banco privado llamado
Banco de Buenos Aires o Banco de Descuentos. En tal etapa no existía
control alguno para el desarrollo de la actividad. Era una actividad
más. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>A
raíz del impulso obtenido, desde 1862 se instalan el Banco de
Londres y el  Banco de Italia  en 1872, el Banco Español y el Banco
Francés en 1886, todos de nacionalidad extranjera.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Luego
en 1886 se crea el Banco Hipotecario Nacional, entidad autárquica
para otorgar créditos para la construcción y adquisición de
viviendas y en 1890 surge la Caja de Conversión, que sin ser entidad
 bancaria, representa al Estado como responsable de la emisión
monetaria y que conlleva sustraer de dicha función a los bancos,
produciéndose por ello la crisis de 1890.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>No
existía el Banco Central todavía, con lo cual la emisión era
realizada por los bancos existentes, contribuyendo al litigio con la
Caja de Conversión. Es decir, lo vivido con  De la Rua, hasta su
derrocamiento por los cacelorazos, con emisión descontrolada de
bonos provinciales y desvinculado del sentido de moneda que un Estado
debe preservar, generó  un caos parecido a la cita histórica.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La
crisis de los países industrializados en 1929, que afectó a nuestro
país en sus exportaciones y que produjo el cierre de la Caja de
Conversión, provocó el nacimiento del primer ordenamiento bancario.</FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>El
comienzo de la historia</B></U><B>.</B></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La
verdadera historia, con relación al mercado financiero “argentino”,
comienza con  Agustín  P. Justo quien en 1913 encarga a Sir Otto
Niemeyer, experto inglés en materia monetaria y bancaria, el estudio
de un sistema de organización bancaria para el país. Así surge el
Banco Central y su régimen bancario, cuyas leyes son sancionadas el
21 y 27 de Marzo de 1935. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En
razón del espacio disponible omitimos  avanzar en lo histórico, no
obstante ser conceptualmente la  demostración palmaria de porqué
estamos hoy  así. Pero baste decir que a partir de ese momento se
crean la regulación de los medios de pago, el volumen de los
créditos  y  la exigencia de previa autorización para funcionar
como entidad bancaria.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Cabe hacer una
distinción, comparando el régimen actual: en aquellos años se creó
el Instituto Movilizador de Inversiones Bancarias y su función
específica era adquirir bienes inmovilizados en los activos de los
bancos, para su posterior reventa. Actualmente la ley de Entidades
Financieras, prevé que los activos van a parar a un “pozo común”
formado <U>por las mismas entidades</U> y no al Estado. Entonces, 
primera conclusión, hoy los bancos o algunos de ellos,  tienen en su
poder los activos no vendidos de las entidades bancarias cerradas o
quebradas. Es decir no se utilizan los mismos, para garantizar a los
acreedores, sino para preservar la existencia de las entidades. Es un
“clearing interno”.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Desde 1944 a 1966,
pasamos a una banca nacionalizada, incluyendo el BCRA y los
depósitos. Se dispuso el reintegro de capitales con bonos especiales
o dinero en efectivo, equivalente a su valor. Segunda conclusión, la
devolución en bonos de los depósitos privados, ya había existido
en nuestro país. No olvidemos el canje de bonos por plazos fijos,
más tarde en 1989.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En
1956, al  compás de los cambios políticos, volvemos a la banca
regida por la relación depósitos y capacidad prestable, exigiéndose
a los bancos extranjeros, para la apertura de nuevos bancos o
sucursales, medios sustanciales de aportes del exterior y/o
derivación de exportaciones, fijándose un mercado único y libre de
cambios. El país ingresa en el FMI y demás instituciones
internacionales de crédito.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En 1973, volvemos
nuevamente a la banca de 1946. pero con la variante que el BCRA
compensa los costos fijos administrativos, y permite el cobro de
comisiones por servicios. Aquí se “centralizan” los depósitos,
en virtud que decir  que se nacionalizan no es correcto, ya que los
mismos son siempre nacionales. Esta etapa está signada por la caída
de gran cantidad de bancos, gran desconfianza del público hacia el
mercado financiero y un mercado de cambios paralelo muy intenso con
tasas de interés extremadamente negativas, con relación a los
índices de inflación y con pingues ganancias para la especulación,
que provocará la baja de reservas, ligada al tipo de cambio y el
sobreviniente endeudamiento con  Martínez de Hoz. Es decir, tercera
conclusión, seguimos hoy como ayer, sin reservas pero con un alto
endeudamiento e ingresando a un tipo de cambio fijo, por ahora.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En
1977, volvemos a la descentralización de la banca, con amplia
libertad de tasas y crédito, lo que provoca grandes desapariciones y
fusiones entre entidades. Nótese que hasta aquí siempre el Estado
“respondía” por los depósitos. En el aspecto cambiario,
teníamos la “tablita”.</FONT></FONT></P>

<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><strong>Cavallo y las normas
de Basilea</strong></U><strong>.</strong></FONT></FONT></P>

<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El
país vuelve a la democracia en 1983, pero sigue vigente la ley de
entidades financieras, 21526/1977, y en 1991 Cavallo, nos “da una
mano”, al adscribir al país a las normas de Basilea, las cuales
por decisión unilateral de los bancos multinacionales, pasaron a
regular la actividad financiera en los países del primer mundo y
protege a los grandes bancos mundiales dispersos sobre todo, por las
regiones emergentes, incluyendo nuestro país.  El primer golpe fue
la nacionalización de la deuda  privada, pero éste es  un tema que
por su extensión,  no está  previsto tratar en este artículo.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Veamos
 ejemplos concretos: el decreto 146/94, impuesto por Cavallo, para
promover las inversiones extranjeras, no exige que las mismas se
constituyan conforme a las leyes de nuestro país, sino cumplir con
los recaudos de nuestra ley de Sociedades Comerciales 19550, y tienen
la obligación de radicar en forma permanente los capitales mínimos
requeridos por la ley 21526, de entidades financieras.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Por
otra parte, el decreto 540/95 estatuye un seguro de garantía de
depósitos que será  obligatorio, limitado y oneroso. No debe
comprometer recursos del BCRA ni del tesoro nacional y será
administrado por una sociedad anónima llamada SEDESA, “Seguro de
Deposito SA”, cuyos socios constitutivos son el Estado Nacional y
un fideicomiso con entidades que <U>deseen</U> participar. El comité
directivo está representado por un representante del BCRA y  4 a 7
vocales de las entidades aportantes. El seguro se fija en pesos
30.000 por depositante.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En
Noviembre de 1996, la banca central  firmó con trece entidades
financieras un convenio para suscribir 6.100. millones de pesos o
dólares, para el supuesto de que deban enfrentar un retiro masivo de
depósitos, el cual se llamó  “Red de Seguridad del Sistema
Financiero”. Se creaba con el aporte del 0.051% mínimo y máximo
de 0.06% sobre el promedio de los saldos diarios de los depósitos en
pesos y en moneda extranjera. Fácil es la cuenta para saber a cuánto
debería ascender dicho fondo.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Hoy
(15/012001) podemos leer en el matutino Clarín, que el viceministro
Todesca, reconoció que el fondo Sedesa, tiene sólo 300 millones de
dólares. El mismo diario de fecha 11 de Enero, pagina 20 consigna
que el Congreso estaría investigando la salida de divisas del país
en 358 camiones de caudales, en los días previos al “corralito”,
que rumbearon para Ezeiza. Tendrá esta noticia algo que ver con los
faltantes?.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Para
que el lector sepa, cada camión puede transportar alrededor de 20/25
millones de dólares compactados, asi que haciendo la cuenta podría
ser la diferencia que falta en el fondo de garantía. Veremos si se
investiga. Mientras tanto, podrá pedir convocatoria de acreedores
esta sociedad?, o que alguien le pida la quiebra?  La  respuesta vale
un millón.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Por
supuesto que a ello debemos agregar los encajes, previsiones y
reservas que los bancos por ley deben mantener a disposición y
parece que a estas alturas, no tienen.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Se
autorizó que los fondos obtenidos en garantía, puedan ser
invertidos hasta el 50% en títulos públicos. Pero no se permitió
que los fondos salieran del país, como se afirma por 20.000 millones
en los ultimos tiempos.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Cabe aquí agregar otro
dato salido de las normas de Basilea. Nos referimos a la conformación
del sistema B.A.S.I.C. cuya sigla mas destacada es la C que significa
calificación. La realizan las agencias de calificación y atiende a
las garantías disponibles y asesora sobre el riesgo a los inversores
menos especializados. Estas agencias son las que siempre dijeron que
nuestro sistema financiero era muy solvente, dado el alto índice de
extranjerizacion de la banca y su correlato, <U>las garantías de las
casas matrices del exterior</U>. Parece a la luz de lo ocurrido, no
era tan así.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Me pregunto en forma
inocente, se habrá cumplido con todo esto?.  Si se completó el 
fondo SEDESA, donde está el mismo?  Esto es lo que la gente común
quiere saber y nadie  lo explica. Sirvan estas reflexiones para una
mejor orientación.</FONT></FONT></P>

<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>Pero el “poncho”
no aparece</B></U><B>.</B></FONT></FONT></P>

<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Sin perjuicio de
compartir con calificados autores,  que los bancos nacionales y
extranjeros, son entidades de servicio público impropio, o sea que
por su actividad necesitan autorización del Estado vía BCRA para
funcionar, con un  gran compromiso social sobre sus espaldas, no es
menos cierto que son sociedades sujetas al régimen jurídico
nacional, y como tal además deben  asumir los riesgos propios de los
negocios que emprenden. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Siendo así,  los
depositantes  no deberían soportar sus quebrantos, sino luego de 
que las entidades  respondan con sus activos, sean títulos o bonos,
inmuebles, activos financieros de otro tipo, más su capital
declarado,  más las garantías asumidas en los fondos específicos,
incluido su capital externo. Ahora bien, si en sus activos existen
carteras de créditos morosos e incobrables, luego de las previsiones
que debieron hacer en sus balances, también deben asumir dicho
riesgo como en cualquier actividad. Cabe acotar en este punto, que
como  todos sabemos,  los bancos en la última década exigieron
garantías  reales o prendarias para su cartera, por lo que esos
activos también deben ser utilizados para responder al público
depositante. Si así no fue, es un riesgo que la entidad corrió per
sé y como tal debe responder. Mientras tanto,  y en función de la
profusa publicidad que han hecho para la captación de depósitos,
las casas centrales en el exterior, deben responder también como es
de estilo en sus propios países de origen.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Cuarta conclusión: Si
los bancos extranjeros respondieran como es debido, defendiendo sus
sucursales, el ingreso de capitales para financiar las carteras de
morosos, equivaldría aproximadamente al monto que le pediremos al
FMI, para levantar el “corralito”, pero con la ventaja que ya no
sería endeudamiento a nuestro cargo. Caso contrario,  nueva deuda
colectiva para proteger al sistema financiero. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Claro
es, que todo lo dicho debe estar  respaldado por una Superintendencia
de Bancos del BCRA, que efectivamente controle y haga cumplir con las
normas que existen,  no “sucumbiendo”  a los lobbies  y presiones
de las entidades. En nuestro país tenemos innumerables ejemplos de
entidades desaparecidas con perjuicio directo sobre sus clientes, sin
que el BCRA lo haya previsto o  evitado. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Ahora bien,  va de suyo
que hay responsables fácilmente detectables, solo que alguna vez
deberemos optar por hacer cierto el juramento de los funcionarios
cuando asumen y se exponen “a que Dios o la Nación os lo
demanden”. Dios seguro los demandará, aunque  en lo terrenal sería
bueno que también los fiscales y jueces los  demanden, antes que lo
haga el pueblo.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Reflexionando sobre el
túnel del tiempo, llego a  la quinta conclusión, en 1810 tuvimos
ingleses, españoles y franceses pujando por un pedazo de “torta”,
con un ojo puesto en estas tierras y el otro en sus guerras europeas,
pero siempre con sus presiones, antes armadas, hoy vía endeudamiento
a nuestro cargo, en un contexto de globalización. Antes venían los
ejércitos, hoy el presidente Aznar usa el teléfono rojo para
advertir que el plan económico argentino debería ser consensuado
tanto por nuestra sociedad, como por los acreedores y los organismos
internacionales (ver noticias en los diarios de mayor tirada de la
fecha). Me permito interpretar al ilustre presidente, habrá querido
decir primero consensuar por parte de nuestra sociedad y conforme
nuestros intereses  y luego si cuadra, por el resto. Baste recordar
el episodio de Aerolíneas Argentinas. No hay acaso culpas
concurrentes en todo esto?  Por supuesto que si,  pero habrá que
“bancarse” las presiones. Si no, veamos los noticieros españoles
y europeos.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El
presidente Bush también dijo lo suyo: “Argentina debe ir a un tipo
de cambio flotante”. Claro, es lo más conveniente a sus intereses,
 y  los  nuestros? ... según,... esta´ por verse. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Entonces,
analizando el túnel, algo ha cambiado? Definitivamente no. Se puede
cambiar? Definitivamente si, cómo?  Despertando la conciencia
nacional, tal como lo dijo el presidente, lo cual es cierto mas allá
de que guste o no, porque se trata de una cuestión de Estado, de
supervivencia, de unión nacional, de seriedad como Nación, de
soberanía y sobre todo para que nos crean y nos respeten,  una vez
por todas. Si no,  baste ver lo citado más arriba, como pasamos de
un extremo, en lo económico financiero al otro, sin respetar lo más
importante, la Patria, al conjuro del péndulo local  de turno.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La
Unión Europea se forjó  luego de varios años, pasando por
distintas etapas, las cuales debían ser cumplidas por los países
interesados, tal como cumplir con relaciones de ingreso per cápita,
endeudamiento versus producto bruto etc. En buen romance eso se llama
protección, ya que los países que no cumplían no ingresaban. Este
requisito nos faltó en  la década de los 90. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Quisimos
ingresar al primer mundo sin estar preparados como ellos lo hicieron,
desmantelados,  y a diferencia de Brasil, así nos fue. Digo
“quisimos” porque por dos presidencias el pueblo voto tal opción.
Luego “quisimos” corregir con el voto castigo y tuvimos la suerte
conocida. Pero siempre fue en democracia, lo que invalida quejarnos,
porque debemos reconocer que nuestros dirigentes salen del seno de
nuestra sociedad, no se generan espontáneamente.  Entonces hoy
cerremos filas y  protejamos nuestra guardia, que es sinónimo de lo
que nos queda y preparémonos para el próximo round, aunque debamos
lamentarnos  que ya no tenemos la estructura industrial y productiva
que nos caracterizaba antes de 1990.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Deseo
rescatar una frase del Secretario del Tesoro de EE.UU. cuando afirmó
que: <I>“estamos hartos de salir en auxilio de los inversores de la
deuda externa argentina, con los depósitos de nuestros albañiles y
plomeros. Es hora de que asuman su propio riesgo”</I>. Habrá
incluido en este comentario a los bancos americanos en nuestro país?
 Me pregunto si no tenemos derecho a decir lo mismo. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>A
esta altura de la reflexión, cabe dejar claro que la misma no está
dirigida a criticar y echar culpas a la política financiera mundial
manejada por 4/5 países del primer mundo, entre ellos los Estados
Unidos, sino a considerar que el desempeño de nuestros políticos,
gobernantes y funcionarios de las últimas décadas, ha dejado mucho
que desear por su sometimiento a los intereses externos sin
protección alguna, incurriendo en muchos casos en  la figura de
traición a la Patria, sin que los votantes, pasivos, tampoco hayamos
hecho nada al respecto. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Por
supuesto habrá quienes opinen que habernos protegido,  seria volver 
atrás en la historia. Se diría que no podemos cerrar nuestras
fronteras en medio de una globalizacion feroz. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Sostengo,
frente a dichos argumentos que en realidad se puede estar abiertos,
pero priorizando lo nuestro, como hacen todos los países del primer
mundo.  En realidad nunca salimos, nunca  despegamos, siempre tuvimos
espejismos. Seguimos ahí, viendo como colas de jóvenes y no tanto,
se anotan en los consulados para dejar la  Patria. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Finalmente
y volviendo, será un termino antiguo Patria? A veces me lo pregunto.
A diferencia de la jura de cargos en la Provincia de Buenos Aires, 
una  “mano negra” en la jura de funcionarios nacionales, eliminó
 del juramento  dicha palabra y  la reemplazó por Nación, “que
Dios o la Nación os lo demanden”. Porque habrá sido?, me
interrogo.  Será porque Nación es igual a comunidad de individuos
sin organización juridico-politica, a diferencia de Estado, lo cual
asegura así a lo mejor, mayor impunidad?   No olvidemos que, como
dato elemental de la Teoría Política,  puede haber Nación sin
Estado, o bien un Estado puede incluir varias Naciones en su seno.
Ello así, por cuanto la condición de Estado, exige tres elementos
básicos, que son Población, Territorio y Ordenamiento Jurídico,
que incluye su Soberanía. En cambio si falta alguno de los elementos
citados, estamos frente a una Nación. Ejemplo, Palestina, que no
llega al rango de nación, por no tener territorio. Como ejemplo de
Estado que incluye varias naciones, tenemos la antigua Unión de
Repúblicas Soviéticas.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es
la hora de la verdad. Asumámosla como tal, bajo el riesgo de
desintregarnos no sólo como Estado, sino como Nación. Ni que hablar
de la Patria.                                                        
             </FONT></FONT>
</P>

</div>
<div  class="textoNota">Nota: Cualquier cita referida a estos contenidos, debe mencionar la fuente.</div>
