<div class="divMiddle texto">
<H1 LANG="es-AR"  ALIGN=CENTER >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U>RECENSIÓN DEL DR.
HORACIO F. CARUSO</U></FONT></FONT></H1>
<H1 LANG="es-AR"  ALIGN=CENTER >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U>PUBLICADA EN EL
DIARIO EL DERECHO, SUPLEMENTO DE FILOSOFÍA DEL DERECHO EN OCTUBRE DE
2002</U></FONT></FONT></H1>
<H1 LANG="es-AR"  ALIGN=CENTER >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U>La Argentina Robada.</U></FONT></FONT></H1>
<P LANG="es-AR"  ALIGN=CENTER STYLE="text-indent: -0.79in; margin-bottom: 0in">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>El corralito, los
bancos y el vaciamiento del sistema financiero argentino.</B></FONT></FONT></P>

<H1 LANG="es-AR"  ALIGN=RIGHT >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>MARIO CAFIERO –
JAVIER LLORENS</FONT></FONT></H1>
<H2 LANG="es-AR"  ALIGN=RIGHT >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Ediciones Macchi,
Buenos Aires.</FONT></FONT></H2>
<H2 LANG="es-AR"  ALIGN=RIGHT >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Octubre de 2002</FONT></FONT></H2>
<H2 LANG="es-AR"  ALIGN=RIGHT >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>312 páginas.</FONT></FONT></H2>

<p ALIGN=JUSTIFY ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>I- Situaciones como las
suscitadas recientemente por el llamado “corralito financiero,
necesitan para su    dilucidación en términos de justicia
económica, un análisis de las circunstancias fácticas concretas.</FONT></FONT></p>
<P ALIGN=JUSTIFY LANG="es-AR" STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>De eso trata el libro
que nos ocupa, de profundizar en las causas que llevaron a nuestro
país al descalabro económico más importante de su historia, si 
bien no el único, como lo sostienen los autores.</FONT></FONT></P>

<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>II- Como su prefacio lo
anticipa es un libro duro de leer,  pero a su vez esperanzador.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Pretende a través de
sus páginas narrar lo que para sus autores es el revés de la trama
de la historia argentina, centrada en  la permanente política de
endeudamiento y crisis bancarias y financieras  desde los inicios de
nuestra independencia hasta el 2001, con  “corralito” y
“corralón” mediante.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La obra cuenta con una
primera parte titulada “</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>Deudas
externas, convertibilidades, bancos, privatizaciones y crisis, una
historia repetida”</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>
donde los autores se explayan en los instrumentos de dominio
manipulados por las potencias de la época, con su correlato de
emisión de dinero por parte de bancos representantes de intereses
extranjeros y de las recurrentes quiebras de las sociedades
constituidas al efecto, que tomaban bonos y los canjeaban por dinero
metálico para inducir a la fuga de capitales, artilugio que como
queda demostrado fehacientemente, ha sido una constante de nuestra
historia.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Se extienden además
los autores en esta sección, en la génesis de las deudas externas a
partir de generación del  80, con un análisis pormenorizado de la
gestión  de Carlos Pellegrini Bevans Bright  y su vinculación con
el poder inglés, incluyendo el  corralito bancario de 1891 y su
consecuente “megacanje”.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La obra sigue un hilo
conductor histórico con un esfuerzo visible para traducir el
vocabulario técnico-financiero, que el tratamiento del tema exige
abordar,  en explicaciones sencillas de entendimiento fácil,
destinado a quienes  no dominen  dicho léxico.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Así, con prolijidad y
método se interna en el proceso militar de 1976, con la política
financiera de José A. Martínez de Hoz y la primera fase de
endeudamiento, según lo califican, que emergió entre las instancias
bélicas, potencial con Chile y actual por Malvinas.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Luego de narrar las
alternativas en la falsificación de moneda fiduciaria y el crac
bancario internacional con las distintas maniobras de endeudamiento y
su dinámica para su incumplimiento, los autores se extienden  en las
gestiones de Domingo Felipe Cavallo, primero como presidente del
BCRA, en 1982,  y luego como ministro de Economía, en lo que habrá
de ser una recurrente denuncia  del libro para demostrar la grave y
profunda incidencia, que sin ser exclusiva, le cupo al ex ministro en
la vida y patrimonio de los argentinos, no obstante haber obrado bajo
gobiernos de distinto signo político.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En forma colateral,
finaliza la primera parte, con una visión de la responsabilidad que
tuvieron los medios de comunicación, en el plan que culminó como es
de público conocimiento, en una compulsiva intervención del Estado
en las relaciones contractuales entre particulares, con sus derivados
“corralito” y “corralón”. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La segunda parte de
libro, titulada </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>“El
vaciamiento del sistema financiero en 2001”</B></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>,
consta de un primer informe, donde explican las alternativas y causas
de la derogación de la ley de subversión económica por parte del
Congreso, y en un segundo informe las constancias técnicas emanadas
del Banco Central, de la evolución y caída de los depósitos y
préstamos, como así también de las reservas internacionales del
país.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Los autores denuncian 
las maniobras de imputación y registración  contable  por parte de
los bancos, con la aprobación del Banco Central, como ser el canje
de bonos “defaulteados” en poder de tenedores externos, léase
casas matrices de los bancos extranjeros,    por dólares billetes
para su envío al exterior, y a su vez la internalización de los
mismos en  forma de deuda interna, con cargo a los ahorristas
sorprendidos en su buena fe, con la secuela de reducción de las
reservas internacionales, más abajo del mínimo autorizado y 
publicado.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
 <FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Todo ello nada menos,
llevado a cabo con sólo imputar estos movimientos, según los
autores,  a las cuentas de orden de los balances de las instituciones
financieras, y a la falacia de considerar a los bonos ingresados,
como “préstamos garantizados”, a la sazón  con cuádruples
garantías y  a valor nominal,  registrándose estos movimientos en
una suerte de sube y baja,  en las cuentas de las instituciones
financieras denominadas en sus balances como “Otros créditos por
intermediación financiera” en el activo y “Otras obligaciones
por intermediación financiera” en el pasivo, sin que semejante
volumen de operaciones y montos, afecte  substancialmente el
patrimonio neto de los bancos, absorbiendo el BCRA la diferencia
entre dicho valor nominal y su valor de mercado, como ocurre con los
bonos de  un país en “default”.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La tesis sostenida en
el libro es que la crisis bancaria producida formó parte de un
proceso ordenado y direccionado por los grandes bancos, en especial
los extranjeros, para llevarse las divisas del país, cargando el
costo a la ciudadanía argentina. El fundamento está, según los
autores, en los propios balances de los bancos presentados al Banco
Central,  y “no en los ahorristas que se presentaron todos juntos y
al mismo tiempo a retirar sus depósitos”, como se pretendió
explicar.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Según dicha tesis, el
retiro obedeció al cambio de la postura tradicional del gobierno de
los EE.UU, reflejado en la afirmación del ex secretario del tesoro
en el sentido de “no utilizar más los dineros  de los carpinteros
y plomeros  norteamericanos para salvar a los bancos
internacionales”.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Esta política, que
incorporó un nuevo término, “moral hazard” o riesgo moral, fue
tomada muy en cuenta por los bancos extranjeros y con la debida
anticipación mediante “lobbies” y contactos maniobraron para
obtener las leyes y decretos que le dieron forma a esta fenomenal
estafa nacional.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Al final del libro, se
agrega un anexo, con todas las medidas, leyes y acuerdos que los
gobiernos y el Congreso firmaron  a partir de Diciembre del año
2000,  </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>III- Finaliza la obra, 
en forma de Epílogo, con un inteligente esbozo de  propuesta para
salir de nuestra inveterada y recurrente dependencia, a la par que
insta a los argentinos al desafío que ello significa, en un planteo
de re-colonización y re-fundación de la República y con un hálito
de fe y esperanza.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es una obra que por su
sencillez en las explicaciones y los fundamentos sobre las cuales se
basan, no sólo resulta útil para el lector común que desee conocer
la verdad de lo ocurrido y entender porque estamos como estamos, sino
que es también necesario para quienes no comparten lo que la obra
expone, ya sea por convicciones ideológicas o bien técnicas. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Cabe resaltar que no ha
habido hasta ahora, quien haya salido a desmentir o polemizar con lo
sostenido, menos aún los directamente involucrados más allá de
tibios argumentos, por lo que nos atrevemos a afirmar que este libro
resultaría además útil para que la Justicia se ocupe de la
investigación y punición de los responsables si fuera el caso, a
partir de las pruebas que allí se vierten, haciendo votos para que
no termine en igual forma que la causa llevada adelante por el
patriota Olmos, derivada a un Congreso inoperante y complaciente, más
allá de las minorías que denunciaron los hechos. </FONT></FONT>
</P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Quien se precie de
conocer  la historia argentina, más allá de la posición 
ideológica desde donde se la mire, coincidirá con dichos párrafos
a la luz de lo acontecido en su transcurso y con la fuerza de la
realidad concreta que nos toca vivir.</FONT></FONT></P>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-left: 0.02in; margin-bottom: 0in; ">
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En resumen, excelente
libro desde lo histórico y desde lo técnico, que tiene la
virtualidad de ser un testimonio valiente y  lúcido de lo acontecido
en nuestro pasado reciente, y un ferviente llamado a no incurrir en
lo mismo, como las fuertes tendencias de estos días,  parecieran 
querer repetir.</FONT></FONT></P>
</div>
<div  class="textoNota">Nota: Cualquier cita referida a estos contenidos, debe mencionar la fuente.</div>
