<div class="divMiddle texto">
<P LANG="es-AR"  ALIGN=CENTER >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>recensión DEL
DR. HORACIO F. CARUSO</B></U></FONT></FONT></P>
<P LANG="es-AR"  ALIGN=CENTER >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2><U><B>Publicada en el
Diario El Derecho, Suplemento de Filosofía del Derecho en Octubre de
2004.</B></U></FONT></FONT></P>

<P LANG="es-AR"  ALIGN=CENTER >
 <FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>Libro: La Deuda
Pública Externa</B>.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=RIGHT >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Augusto Mario Morello</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=RIGHT >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Buenos Aires</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=RIGHT >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Editorial
Rubinzal-Culzoni – 2002</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=RIGHT >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>172 págs.</FONT></FONT></P>

<P LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Con
la proverbial enjundia a la que nos tiene acostumbrado, nuestro
respetado maestro también ha incursionado en la problemática de la
deuda externa de nuestro país.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Por tanto, no resulta
fácil recensionar tamaño autor, aunque trataremos de aportar con
ánimo complementario, algunas observaciones o elementos casuísticos,
que tal vez ayuden a no “olvidar” esta ignominia, que pagarán
aún  hasta nuestros bisnietos.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Resulta acertado la
afirmación del autor, cuando anuncia que esta situación bloquea
nuestras posibilidades de crecimiento y desarrollo y que nos hamaca
entre <I>hacer honor a su pago, previa determinación de su
composición y accesorios, negociando la programación, o nos sumerge
en el capricho de no pagar.</I> Lanza por tanto un ruego: ¡¡no nos
asfixien y permítannos cumplir!!.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>También asevera en la
página 10, que resulta imprescindible una deuda justa y equitativa,
no abusiva y desvirtuadora de su estructura jurídica. Y cita
acertadamente que nos ocasiona una incertidumbre infinita. ( en lo
personal, la defino como “mora eterna”).</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Sugiere entonces en el
mismo acápite, que debemos asumir una inteligente actitud
negociadora, franca y de cooperación, para reestructurar plazos y
modalidades de pago, evitando seguir restándole aire a la esencia
del problema.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En página 11, menciona
el Dr. Morello que tenemos una asignatura pendiente, cual es cómo se
articularon los parciales, en especial los intereses.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
 <FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Por otro lado, en la
página 12, califica la suspensión del pago de la deuda como un acto
colectivo de adolescentes, actos caprichosos y revanchistas que
genera retroceso, aislamiento y la pérdida de amigos.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>También nuestro autor,
menciona sin ambages que el FMI cometió errores garrafales en todo
el proceso de nuestra deuda externa. ( pag. 13).</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>A partir de la página
16, realiza nuestro maestro un análisis de las causas que provocaron
la caída de nuestro sistema monetario sustentado en la
convertibilidad, citando a Adolfo E. Buscaglia, quien señala con
holgura la evolución y crecimiento de nuestra deuda.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Oportuno resulta además
la cita que  hace en página 22, sobre el informe que el Consejo
Permanente de Decanos de Facultades de Derecho de Universidades
Nacionales, convocado por el de la de Buenos Aires, Dr. Aníbal
Alterini, donde analizan con profundidad los perfiles jurídicos  de
la deuda pública y es necesario rescatar entre otros aspectos, el
hecho resaltado  que desde 1993 hasta la fecha del informe (2002),
ingresaron al Congreso de la Nación más de 230 proyectos
proponiendo diferentes soluciones a partir del fundado
desconocimiento de la legitimidad del monto de los intereses, sin que
mediara algún pronunciamiento.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Cita también el
proyecto del diputado Alfredo A. Allende, con media sanción del 24
de Enero de 2002, para que se le imparta instrucciones a la Misión
Permanente de la República, ante la Asamblea General de las Naciones
Unidas, a fin de que a través de un proyecto de resolución, se pida
a la Corte Internacional de Justicia de La Haya, una opinión
consultiva sobre los aspectos jurídicos internacionales de la deuda
externa.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Por último cita con
respecto al informe de los Decanos, que éstos centraron su visión
en las prácticas utilizadas en la negociación y cálculo del monto
de la deuda, y su  coherencia o no, con los principios generales del
Derecho y los derechos fundamentales de los pueblos, las posibles
contradicciones de esas negociaciones con el Bien Común y las normas
que condenan la usura, la buena fe, la equidad, la lesión, la falta
de causa, y el <I>favor debitoris</I> </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Luego de lo mencionado,
el autor incursiona en la ampliación de los argumentos y principios
jurídicos desde donde realiza su análisis, sustentándose en
numerosos principios emanados del Derecho de las  Obligaciones y del
Derecho Concursal y Quiebras, emanados de nuestro derecho interno.
Así, se pregunta en la página 18, si es posible que un país pueda
ir a la quiebra.-</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>A partir de la página
53, el Dr. Morello nos ofrece su opinión y conclusiones, donde como
inicio justifica la decisión de haber suspendido los pagos, a
nuestro entender en contradicción con lo dicho en página 12 y
citado más arriba,  debido a que al no haberlo hecho, hubiera
comprometido la responsabilidad política de quienes ejercen los
poderes de gobierno, y hubiera importado según cita textualmente: “
<I>dejar de utilizar el único instrumento jurídico que permitiría
reconducir al cumplimiento, y con ello, persistir nuestra Nación en
ser fiel a los pactos y obligaciones que ha asumido”.</I></FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Finaliza en la página
55, con su última recomendación, que es <I>“recuperar la
confianza, y volver a crecer dará estabilidad, generará ahorro y
así el país tendrá, otra vez, los activos necesarios para hacer
frente a los pagos de su monumental deuda pública y privada”.</I> </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Luego sigue la obra
hasta el final, con un análisis acabado por cierto, de la ruta del
“patacón” y de los aspectos financieros de nuestra provincia de
Buenos Aires.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es decir, entrando
entonces en nuestra opinión, el Dr. Morello pide saber cuánto se
debe, pero nada dice sobre <U><B>si se debe</B></U>, y si bien apoya
el mismo “default”en página 53, también propone pagar. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Entendemos que se debe
pagar, si existe deuda legítima, porque hay autores que sostienen
que con todo lo que se ha pagado, hemos cancelado nuestra deuda
externa.</FONT></FONT></P>
<P LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Por
otro lado, nos llama la atención que nuestro maestro no haya
mencionado al patriota Olmos -  también obviado en el informe del
Consejo de Decanos citado más arriba - quien por vía de su acción
judicial obtuvo del  Juez  Jorge Ballesteros, luego de una exhaustiva
investigación, una sentencia ejemplar del 13 de julio de 2000, causa
14.467, (Juzgado Criminal y Correccional 2 de la Capital Federal),
quien demostró -  como bien la sintetiza Héctor H. Hernández -  
pero de acceso fácil a quien desee leerla completa, lo siguiente: </FONT></FONT>
</P>
<P LANG="es-AR" ><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>1.
L</B>a perversidad de la política económica. <B>2. </B>Adjunto a
esa causa se encuentra el expediente <I>“Menem, Carlos Saúl s/
Denuncia”</I>, nº 41.545 año 1982, del Juez Narvaiz,  quien
imputa la ruina de YPF a quienes la manejaron desde 1978, al Poder
Ejecutivo y Ministerio de Economía, al obligarla a endeudarse en
dólares sin recibir nada : <I>“quién sabe dónde fueron a parar
esos dólares”</I> (<I>sic</I> del denunciante); <B>3. </B>Se
comprobó que no se sabe en realidad cuánto se debe;  <B>4. </B>Que
la tremenda deuda no era llevada por asientos contables, sino en una
“libretita” en poder del BCRA.  <B>5. </B>Que parte de ella es
por avales del Estado a favor de afamadas empresas particulares, a
las que nunca se intentó ejecutar; <B>6.  </B>Intervinieron en la
investigación un importante cuerpo de expertos, nunca visto en la
historia judicial argentina, actuando bajo la supervisión del Cuerpo
de Peritos Contadores de la Justicia Nacional, los propuestos por el
Consejo Profesional de Ciencias Económicas de la Capital Federal, la
Facultad de Ciencias Económicas de la UBA y la Academia Nacional de
Ciencias Económicas; <B>8. </B>Se determinó la ilegitimidad
atribuyendo responsabilidad penal a todos los ministros de economía
y presidentes del Banco Central de la época bajo examen. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
 <FONT FACE="Verdana, sans-serif"><FONT SIZE=2>La sentencia sobresee 
<B>por prescripción</B> y remite copia al Congreso de la Nación<B>
para que ejercite sus responsabilidades.</B> Es decir volvemos al
Congreso nuevamente.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>En las conclusiones
señala: <I>“la manifiesta arbitrariedad con que se conducían los
máximos responsables políticos y económicos de la Nación en
aquellos períodos analizados”.</I> Atribuye responsabilidad a
funcionarios  por violación de la Carta Orgánica del Banco Central,
y por “<I>haber modificado nuestra legislación para llevar al
Estado Argentino ante jueces y legislación extranjeros”;</I> las
empresas públicas se endeudaron para servir a negocios de
particulares con los dólares entrados en el mercado de cambios. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>A través del seguro de
cambio se cargó al pueblo,  la deuda de prósperas empresas, por
resolución del presidente del Banco Central Domingo Cavallo en
comunicación A-251 del 17.11.82 que estatizó la deuda privada con
seguro de cambio asumido por el presidente Alfonsín. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El juez Ballesteros
deriva entonces al Congreso sus investigaciones<B>,   para que
determine las responsabilidades políticas del caso</B> y atribuye
valor a la investigación “<I>para verificar la legitimidad de cada
uno de los créditos que originaron la deuda externa argentina;
</I>concluyendo<I>: “que la deuda externa ha resultado groseramente
incrementada a partir del año 1976 mediante la instrumentación de
una política económica vulgar y agraviante que puso </I><I><B>de
rodillas</B></I><I> el país a través de los diversos métodos
utilizados ... que tendían, entre otras cosas, a beneficiar y
sostener empresas y negocios privados - nacionales y extranjeros - 
en desmedro de sociedades y empresas del Estado que, a través de una
política dirigida, se fueron empobreciendo día a día, todo lo
cual, inclusive, se vio reflejado en los valores obtenidos al momento
de iniciarse las privatizaciones de las mismas. En efecto, debe
recordarse que el país fue puesto desde el año 1976 bajo la
voluntad de acreedores externos y en aquellas negociaciones
participaron activamente funcionarios del Fondo Monetario
Internacional...”.</I></FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Finalizando, nos
pareció entonces que no debía obviarse  el complementar este
magnífico libro con los datos que reproducimos, a los efectos de: a)
no olvidarlos y b) comprender que debe establecerse fehacientemente
<B>si hay deuda</B>, y en caso afirmativo cómo está compuesta,
cuáles son sus accesorios sin anatocismos,  y por último la forma
de pagarla. </FONT></FONT>
</P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Ahora bien, si no
hubiere deuda como muchos presumimos, atento a la magnitud de los
montos pagados en estos años, y que aún seguimos pagando, debe
demostrarse <U>acabadamente</U> tal circunstancia e informar a la
sociedad cuál es la verdadera situación.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Otro es el tema
vinculado a las responsabilidades, de las cuales el libro nada dice,
y que tiene que ver con las conclusiones “Olmos” y la inacción
de nuestros legisladores que nada hicieron al respecto.</FONT></FONT></P>
<P LANG="es-AR"  ALIGN=JUSTIFY >
<FONT FACE="Verdana, sans-serif"><FONT SIZE=2>Es decir, como siempre
el Dr. Morello ha logrado un muy buen libro, sustentado básicamente
en principios jurídicos como se cita más arriba, pero tal vez una
reflexión como la que nos brinda en todas sus obras, en este caso
sobre los aspectos morales que lleva ínsito el Derecho, y sobre los
cuales la deuda externa argentina es un paradigma de la violación de
los mismos,  lo hubiera llevado a incursionar en los comentarios que
adunamos como faltantes. </FONT></FONT>
</P>
</div>
<div  class="textoNota">Nota: Cualquier cita referida a estos contenidos, debe mencionar la fuente.</div>
