<div id="divTitulo" class="titulo">
Aranceles
</div>
<div class="divMiddle">
	<table class="texto">
		<tr>
			<td valign="middle">
			<p>Atendiendo a nuestra organización dirigida tanto a las empresas como a los particulares, somos en este tema, absolutamente pragmáticos.</p>
			<p>Es natural que en el caso de los particulares, fijemos un honorario fijo o porcentualizado, atendiendo a la problemática que deberemos abordar y solucionar.</p>
			<p>En el terreno empresario, en cambio, podemos establecer según demanda y frecuencia un canon periódico o mensual, que involucre o no cuestiones judiciales o bien extrajudiciales.</p>
						
			</td>
		</tr>
	</table>
</div>