<div id="divTitulo" class="titulo">
Conferencias y Publicaciones
</div>
<p><br></p>
<div class="divMiddle">
	<div class="texto">
		<strong>Conferencias:</strong>
		<ul>
			<li><a href="javascript:doGoToMenu('conferencias.php?idConf=1')">Conferencia y Ponencia sobre "Repatriación de capitales de residendes argentinos"</a></li>
			<li><a href="javascript:doGoToMenu('conferencias.php?idConf=2')">Conferencia sobre "Principio de Subsidiaridad"</a></li>
			<li><a href="javascript:doGoToMenu('conferencias.php?idConf=3')">Conferencia y ponencia sobre El Fallo "Ortega".</a></li>
			<li><a href="javascript:doGoToMenu('conferencias.php?idConf=4')">Conferencia "El Derecho Natural y La Comunicación Social"</a></li>
			<li><a href="javascript:doGoToMenu('conferencias.php?idConf=5')">Conferencia Sobre "El Cristianismo Primitivo y Paideia Griega".</a></li>
		</ul>
	</div>
	<div  class="texto">
		<strong>Publicaciones:</strong>
		<ul>
			<li><a href="javascript:doGoToMenu('conferencias.php?idConf=6')">"La Deuda Externa y El Desguace Nacional". Recensión.</a></li>
			<li><a href="javascript:doGoToMenu('conferencias.php?idConf=7')">"Argentina y El Túnel Del Tiempo". Artículo.</a></li>
			<li><a href="javascript:doGoToMenu('conferencias.php?idConf=8')">"La Argentina Robada". Recensión.</a></li>
			<li><a href="javascript:doGoToMenu('conferencias.php?idConf=9')">"La Deuda Pública Externa". Recensión.</a></li>
            <li><a href="javascript:doGoToMenu('conferencias.php?idConf=10')">"Pena de Muerte en Argentina. ¿Está abolida?.</a></li>
            <li><a href="javascript:doGoToMenu('conferencias.php?idConf=11')">"Extinción de Dominio". Nueva Acción Real de carácter autónomo con efectos reipersecutorios sobre la cosa.</a></li>
		</ul>
	</div>
	<div  class="textoNota">Nota: Cualquier cita referida a estos contenidos, debe mencionar la fuente.</div>
</div>
