 <!--<ul id="verticalmenu" class="glossymenu">
	<li><a href="javascript:doGoToMenu('bodyTemplate.php?idMenu=1')">Estudio</a></li>
	<li><a href="javascript:doGoToMenu('bodyTemplate.php?idMenu=2')">Areas de Practica</a></li>
	<li><a href="javascript:doGoToMenu('bodyTemplate.php?idMenu=3')">Titular</a></li>
	<li><a href="javascript:doGoToMenu('bodyTemplate.php?idMenu=4')">Aranceles</a></li>
	<li><a href="javascript:doGoToMenu('bodyTemplate.php?idMenu=5')">Contacto</a></li>
	<li><a href="javascript:doGoToMenu('bodyTemplate.php?idMenu=6')">Conferencias y Publicaciones</a></li>
</ul>-->
<ul id="verticalmenu" class="glossymenu">
	<li><a href="bodyTemplate.php?idMenu=1">Estudio</a></li>
	<li><a href="bodyTemplate.php?idMenu=2">Areas de Practica</a></li>
	<li><a href="bodyTemplate.php?idMenu=3">Titular</a></li>
	<li><a href="bodyTemplate.php?idMenu=4">Aranceles</a></li>
	<li><a href="bodyTemplate.php?idMenu=5">Contacto</a></li>
	<li><a href="bodyTemplate.php?idMenu=6">Conferencias y Publicaciones</a></li>

</ul> 
