<object type="application/x-shockwave-flash" data="./mp3/player_mp3.swf" width="200" height="20">
<param name="movie" value="./mp3/player_mp3.swf" />
<param name="FlashVars" value="mp3=./mp3/musica/bilitis.mp3&
bgcolor1=ffffff&bgcolor2=ecd4e0&
buttoncolor=8a5971&buttonovercolor=0&
slidercolor1=ecd4e0&slidercolor2=8a5971&
sliderovercolor=6a2b4a&textcolor=0" />
</object>

<!--
<embed src="./mp3/musica/bilitis.mp3" autostart="true" loop="true"
width="2" height="0">
</embed>
<noembed>
<bgsound src="./mp3/musica/bilitis.mp3" loop="infinite">
</noembed>
-->
