<div id="divTitulo" class="titulo">
Areas de Práctica
</div>
<div class="divMiddle">
	<table class="texto">
		<tr>
			<td valign="middle">
				<p>
					<font face="arial,helvetica,sans-serif">
						<strong>El Estudio atiende: </strong>
					</font>
				</p>
				<ul>
					<li><font face="arial,helvetica,sans-serif">Derecho Administrativo</font></li>
				</ul>
				<ul>
					<li><a href="artEspecialidad.php?idEspecialidad=3"><font face="arial,helvetica,sans-serif">Derecho Agrario </font></a></li>
				</ul>
				<ul>
					<li><p style="margin-bottom: 0in">Derecho Ambiental</p> </li>
				</ul>
				<ul>
					<li><a href="artEspecialidad.php?idEspecialidad=2"><font face="arial,helvetica,sans-serif">Derecho Bancario Financiero y Bursatil</font></a></li>
				</ul>
				<ul>
					<li><font face="arial,helvetica,sans-serif">Derecho Civil</font></li>
				</ul>
				<ul>
					<li><a href="artEspecialidad.php?idEspecialidad=1"><font face="arial,helvetica,sans-serif">Derecho Comercial y de Comercio Exterior</font></a></li>
				</ul>
				<ul>	
					<li><p style="margin-bottom: 0in">Derecho Informático</p></li>
				</ul>
				<ul>
					<li><p style="margin-bottom: 0in">Derecho Laboral</p></li>
				</ul>
				<ul>	
					<li><p style="margin-bottom: 0in">Derecho Societario</p></li>
				</ul>
				<ul>	
					<li><p style="margin-bottom: 0in">Derecho Sucesorio</p></li>
				</ul>
				<ul>
					<li><font face="arial,helvetica,sans-serif">Derecho Penal Tributario</font></li>
				</ul>		
			</td>
		</tr>
	</table>
</div>
