<div id="divTitulo" class="titulo">
Conferencias y Publicaciones
</div>
<p><br></p>
<div class="divMiddle">
	<div class="texto">
		<strong>Conferencias:</strong>
		<ul>
			<li>Conferencia sobre "Principio de Subsidiaridad"</li>
			<li>Conferencia y ponencia sobre El Fallo "Ortega".</li>
			<li>Conferencia "El Derecho Natural y La Comunicación Social"</li>
			<li>Conferencia Sobre "El Cristianismo Primitivo y Paideia Griega".</li>
		</ul>
	</div>
	<div  class="texto">
		<strong>Publicaciones:</strong>
		<ul>
			<li>"La Deuda Externa y El Desguace Nacional". Recensión.</li>
			<li>"Argentina y El Túnel Del Tiempo". Artículo.</li>
			<li>La Argentina Robada". Recensión.</li>
			<li>"La Deuda Pública Externa". Recensión.</li>
		</ul>
	</div>
	<div  class="textoNota">Nota: Cualquier cita referida a estos contenidos, debe mencionar la fuente.</div>
</div>
