<div id="divTitulo" class="titulo">
Estudio
</div>
<div class="divMiddle">
	<table class="texto">
		<tr>
			<td valign="middle">
			<br></br>
			<p><FONT FACE="Arial, sans-serif"><B>Nuestra Misión:</B></FONT><FONT FACE="Arial, sans-serif">
Brindar un servicio jurídico integral y personalizado, orientado a
la búsqueda de la excelencia en la calidad de los servicios, basado
en la experiencia profesional de los que integramos el equipo de
trabajo. </FONT>
</P>
<P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
<FONT FACE="Arial, sans-serif">Los valores en los que apoyamos
nuestra misión son: </FONT>
</P>
<UL>
	<LI><P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0in">
	<FONT FACE="Arial, sans-serif">Ética </FONT>
	</P>
	<LI><P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif">Experiencia
	</FONT>
	</P>
	<LI><P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif">Excelencia
	</FONT>
	</P>
	<LI><P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif">Eficacia</FONT></P>
	<LI><P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif">Celeridad</FONT></P>
	<LI><P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif">Flexibilidad</FONT></P>
</UL>
<P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">

</P>
<P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
<FONT FACE="Arial, sans-serif">El </FONT><STRONG><FONT FACE="Arial, sans-serif">Estudio
Jurídico</FONT></STRONG><FONT FACE="Arial, sans-serif">, cuenta con
una adecuada participación de un equipo de profesionales altamente
capacitados, tanto en su cabecera en la ciudad de Buenos Aires, como
en la de Mar del Plata, que permite el abordaje de las distintas
especialidades jurídicas, con solvencia y atención personalizada. </FONT>
</P>
<P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
<FONT FACE="Arial, sans-serif">En tal sentido, estamos en condiciones
de brindar no sólo asistencia jurídica en temas planteados
concretos a particulares, sino también, desde el rol de consultoría
jurídica poder asesorar en el campo de lo empresario, para que la
toma de decisiones por parte de los ejecutivos y/o titulares de
pequeñas y medianas empresas, les permita anticipar y prevenir
posibles conflictos que contrariamente luego, se deben dirimir en un
expediente judicial. </FONT>
</P>

<P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0in">
<FONT FACE="Arial, sans-serif">Por ello, nuestros  postulados básicos
en este sentido son:</FONT></P>
<UL>
	<LI><P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0in">
	<FONT FACE="Arial, sans-serif">Mantener al cliente adecuadamente
	informado de las tareas asignadas al Estudio, por vía de una
	comunicación permanente.</FONT></P>
	<LI><P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif">Actualizar
	y recomendar las medidas pertinentes, en torno a los negocios y
	operaciones que el ejecutivo o la empresa desarrollan.</FONT></P>
	<LI><P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif">Estar
	a disposición del cliente, aún en días y horas inhábiles, tanto
	en el país como en el exterior, para una adecuada atención.</FONT></P>
	<LI><P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif">Estar
	para ayudarlo a resolver sus conflictos y problemas legales. Su
	consulta, por mínima que sea, es muy importante para nosotros</FONT></P>
</UL>

<P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0in">
<FONT FACE="Arial, sans-serif">Resulta por tanto necesario asistir a
nuestros clientes, también con nuestra experiencia, en el terreno de
la auditoría jurídica, que permite el respaldo pertinente para una
custodia efectiva de las operaciones comerciales.</FONT></P>

<P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0in">
<FONT FACE="Arial, sans-serif">En virtud de nuestra organización
práctica y simple, estamos en condiciones de atender eficazmente a
los particulares que con sus distintas problemáticas, acuden a
nuestro Estudio.</FONT></P>

<P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0in">
<FONT FACE="Arial, sans-serif">A pesar del concepto generalizado, en
el sentido que hoy en día es conveniente especializarse, nosotros
entendemos que el Derecho es uno sólo, que un buen abogado debe
entender en todas las ramas que involucra la ciencia jurídica, con
el único compromiso del deber de estudiar, siempre, ya que la
demanda de derechos en la sociedad moderna es mutante y exige, en
forma permanente, una actualización e investigación constante por
parte del profesional. </FONT>
</P>

<P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
<FONT FACE="Arial, sans-serif">Por ello, nuestros profesionales están
en condiciones de abordar el tema que se presente, con absoluta
solvencia y seriedad.</FONT></P>
<P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
<FONT FACE="Arial, sans-serif">El Dr. Horacio F. Caruso, integra el
ESTUDIO JURIDICO CARUSO, SERRANO, GIACAGGLIA.</FONT></P>
<P LANG="es-ES" ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
<BR><BR>
</P>		
			</td>
		</tr>
	</table>
</div>
