
<div id="divTitulo" class="titulo">
Titular
</div>
<div class="divMiddle texto">
	<!--DER - FOTO -->
	<div class="rightPart">
		<div style="margin-top: 5px; margin-bottom: 5px;"><p><strong>Titular del Estudio Jurídico.</strong></p></div>
		<p>Ejerce la profesión de abogado  simultáneamente en Buenos Aires y Mar del Plata, alternando con la docencia  universitaria.</p> 
		<p>Ha participado en varios  congresos de derecho y ha realizado diversos cursos específicos.  Ha finalizado como posgrado, <span> </span>el Doctorado en Ciencias Jurídicas y  Sociales en la UMSA, Universidad del Museo Social  Argentino, Buenos Aires. Tesis en preparación.</p>
		<p>&nbsp;</p><p>E-Mail:  <a href="mailto:horaciocaruso@carusoh.com.ar">horaciocaruso@carusoh.com.ar</a> <br/><a href="mailto:carusoh@gmail.com"></a></p>
	</div>
	<!--IZQ - Comentario-->
	<div class="leftPart">
		<div style="margin-top: 5px; margin-bottom: 5px;"><strong>Dr. Horacio F. Caruso</strong></div>
		<div>
			<div style="margin-top: 5px; margin-bottom: 5px;"><a href="javascript:doGoToMenu('titular.php?idLink=0')"><img src="./images/foto_HFC.jpg" width="350px" height="260px" alt="Haga click en la imagen para visualizar el CV completo" style="border: none"></a></div> 
			<div>
				<div style="float: right"><a href="files/CV_Horacio_F_Caruso.pdf" target="_blank"><img src="./images/descargarCV.png" style="border: none" alt="Horacio F. Caruso"/></a></div>
				<div><a href="javascript:doGoToMenu('titular.php?idLink=0')"><img src="./images/visualizarCV.png" style="border: none" alt="Horacio F. Caruso"/></a></div>
			</div>
		</div>
	</div>
</div>
